---
version: 2
interactions:
    - id: 0
      request:
        host: api.rootly.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer {{OMITTED}}
            Content-Type:
                - application/vnd.api+json
        url: https://api.rootly.com/v1/incidents?include=incident_form_field_selections&page%5Bnumber%5D=1&page%5Bsize%5D=5
        method: GET
      response:
        body: |
            {
              "data": [
                {
                  "id": "incident-123",
                  "type": "incidents",
                  "attributes": {
                    "sequential_id": 42,
                    "title": "Test Incident with Form Fields",
                    "status": "started",
                    "kind": "normal",
                    "summary": "Testing incident with included form fields",
                    "source": "web",
                    "url": "https://rootly.com/account/incidents/42-test-incident",
                    "private": false,
                    "created_at": "2025-12-04T10:00:00.000Z",
                    "updated_at": "2025-12-04T10:30:00.000Z",
                    "started_at": "2025-12-04T10:00:00.000Z",
                    "resolved_at": null
                  }
                }
              ],
              "included": [
                {
                  "id": "field-selection-1",
                  "type": "incident_form_field_selections",
                  "attributes": {
                    "incident_id": "incident-123",
                    "form_field_id": "field-users-array",
                    "selected_users": [
                      {
                        "id": "user-1",
                        "email": "alice@example.com",
                        "name": "Alice Smith"
                      },
                      {
                        "id": "user-2",
                        "email": "bob@example.com",
                        "name": "Bob Johnson"
                      }
                    ]
                  }
                },
                {
                  "id": "field-selection-2",
                  "type": "incident_form_field_selections",
                  "attributes": {
                    "incident_id": "incident-123",
                    "form_field_id": "field-impact",
                    "selected_users": {
                      "id": null,
                      "value": "High Impact"
                    }
                  }
                },
                {
                  "id": "field-selection-3",
                  "type": "incident_form_field_selections",
                  "attributes": {
                    "incident_id": "incident-123",
                    "form_field_id": "field-groups",
                    "selected_groups": [
                      {
                        "id": "group-1",
                        "name": "Engineering Team",
                        "slug": "engineering"
                      },
                      {
                        "id": "group-2",
                        "name": "Operations Team",
                        "slug": "operations"
                      }
                    ]
                  }
                },
                {
                  "id": "field-selection-4",
                  "type": "incident_form_field_selections",
                  "attributes": {
                    "incident_id": "incident-123",
                    "form_field_id": "field-services",
                    "selected_services": [
                      {
                        "id": "service-1",
                        "name": "API Service",
                        "slug": "api-service"
                      },
                      {
                        "id": "service-2",
                        "name": "Database Service",
                        "slug": "database-service"
                      }
                    ]
                  }
                }
              ],
              "meta": {
                "page": {
                  "from": 1,
                  "to": 1,
                  "total": 1,
                  "current_page": 1,
                  "last_page": 1,
                  "per_page": 5
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150ms
