---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.jiradc.ai
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.jiradc.ai/rest/api/latest/groups/picker
      method: GET
    response:
      body: '{"header":"Showing 2 of 2 matching groups","total":2,"groups":[{"name":"jira-administrators","html":"jira-administrators","labels":[{"text":"Admin","title":"Users added to this group will be given administrative access","type":"ADMIN"},{"text":"Jira Service Management","title":"Users added to this group will be given access to <strong>Jira Service Management</strong>","type":"SINGLE"}]},{"name":"jira-servicedesk-users","html":"jira-servicedesk-users","labels":[{"text":"Jira Service Management","title":"Users added to this group will be given access to <strong>Jira Service Management</strong>","type":"SINGLE"}]}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Seraph-Loginreason:
          - OK
      status: 200 OK
      code: 200
      duration: 187.867948ms
