---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.jiradc.ai
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.jiradc.ai/rest/api/latest/search?fields=id%2Ckey&startAt=0&maxResults=3
      method: GET
    response:
      body: '{"expand":"schema,names","startAt":0,"maxResults":3,"total":2082,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"12140","self":"https://test-instance.jiradc.ai/rest/api/latest/issue/12140","key":"SUP-1","fields":{"issuetype":{"self":"https://test-instance.jiradc.ai/rest/api/2/issuetype/10102","id":"10102","description":"For customer support issues. Created by Jira Service Management.","iconUrl":"https://test-instance.jiradc.ai/secure/viewavatar?size=xsmall&avatarId=10702&avatarType=issuetype","name":"Support","subtask":false,"avatarId":10702},"timespent":null,"project":{"self":"https://test-instance.jiradc.ai/rest/api/2/project/10100","id":"10100","key":"SUP","name":"SupportProject","projectTypeKey":"service_desk","avatarUrls":{}},"fixVersions":[],"customfield_10110":null,"customfield_10111":null,"aggregatetimespent":null,"resolution":null,"customfield_10112":null,"customfield_10113":null,"customfield_10114":null,"customfield_10104":null,"customfield_10105":null,"customfield_10106":null,"customfield_10107":null,"customfield_10108":null,"customfield_10109":null,"resolutiondate":null,"workratio":-1,"lastViewed":"2025-03-26T23:09:34.207+0000","watches":{"self":"https://test-instance.jiradc.ai/rest/api/2/issue/SUP-1/watchers","watchCount":0,"isWatching":false},"created":"2025-03-26T16:09:00.000+0000","priority":{"self":"https://test-instance.jiradc.ai/rest/api/2/priority/10000","iconUrl":"https://test-instance.jiradc.ai/images/icons/priorities/blocker.svg","name":"Blocker","id":"10000"},"customfield_10100":null,"customfield_10101":null,"customfield_10102":null,"labels":[],"customfield_10103":null,"timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":null,"updated":"2025-03-26T16:09:00.000+0000","status":{"self":"https://test-instance.jiradc.ai/rest/api/2/status/10001","description":"This was auto-generated by Jira Service Management during workflow import","iconUrl":"https://test-instance.jiradc.ai/images/icons/status_generic.gif","name":"Waiting for support","id":"10001","statusCategory":{"self":"https://test-instance.jiradc.ai/rest/api/2/statuscategory/4","id":4,"key":"indeterminate","colorName":"inprogress","name":"In Progress"}},"components":[],"timeoriginalestimate":null,"description":"* You are now looking at an issue in one of your preset queues. This is where your agents work on your end users'' requests.\n* On your left hand side are the queues where you can easily see all requests coming from your end users. \n* You can also see what this issue looks like in the Customer Portal by selecting the *View customer request* link to the right.\n\n----\nGot it? Now click *Resolve this issue* and add a comment to complete this request.\n----","customfield_10005":[],"aggregatetimeestimate":null,"summary":"What am I looking at?","creator":{"self":"https://test-instance.jiradc.ai/rest/api/2/user?username=jiraadmin","name":"jiraadmin","key":"JIRAUSER10105","emailAddress":"jiraadmin@sgnl.ai","avatarUrls":{},"displayName":"Jira Admin","active":true,"timeZone":"UTC"},"subtasks":[],"reporter":{"self":"https://test-instance.jiradc.ai/rest/api/2/user?username=jiraadmin","name":"jiraadmin","key":"JIRAUSER10105","emailAddress":"jiraadmin@sgnl.ai","avatarUrls":{},"displayName":"Jira Admin","active":true,"timeZone":"UTC"},"customfield_10120":{"errorMessage":"You do not have permission to fetch the list of SLA custom fields","i18nErrorMessage":{"i18nKey":"sd.sla.field.service.permission.error.fetch","parameters":[]}},"customfield_10000":[],"customfield_10121":null,"aggregateprogress":{"progress":0,"total":0},"customfield_10001":{"_links":{"jiraRest":"https://test-instance.jiradc.ai/rest/api/2/issue/12140","web":"https://test-instance.jiradc.ai/servicedesk/customer/portal/2/SUP-1","self":"https://test-instance.jiradc.ai/rest/servicedeskapi/request/12140"},"requestType":{"id":"17","_links":{"self":"https://test-instance.jiradc.ai/rest/servicedeskapi/servicedesk/2/requesttype/17"},"name":"Technical support","description":"Need help installing, configuring, or troubleshooting? Select this to request assistance.","helpText":"","serviceDeskId":"2","groupIds":["6"],"icon":{"id":"10630","_links":{"iconUrls":{"48x48":"https://test-instance.jiradc.ai/secure/viewavatar?avatarType=SD_REQTYPE&size=large&avatarId=10630","24x24":"https://test-instance.jiradc.ai/secure/viewavatar?avatarType=SD_REQTYPE&size=small&avatarId=10630","16x16":"https://test-instance.jiradc.ai/secure/viewavatar?avatarType=SD_REQTYPE&size=xsmall&avatarId=10630","32x32":"https://test-instance.jiradc.ai/secure/viewavatar?avatarType=SD_REQTYPE&size=medium&avatarId=10630"}}},"restrictionStatus":"OPEN"},"currentStatus":{"status":"Waiting for support","statusDate":{"iso8601":"2025-03-26T16:09:00+0000","jira":"2025-03-26T16:09:00.000+0000","friendly":"6 days ago 4:09 PM","epochMillis":1743005340000}}},"customfield_10122":null,"customfield_10002":[],"customfield_10003":null,"customfield_10004":null,"customfield_10115":null,"customfield_10116":null,"environment":null,"customfield_10117":null,"customfield_10118":null,"customfield_10119":{"errorMessage":"You do not have permission to fetch the list of SLA custom fields","i18nErrorMessage":{"i18nKey":"sd.sla.field.service.permission.error.fetch","parameters":[]}},"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://test-instance.jiradc.ai/rest/api/2/issue/SUP-1/votes","votes":0,"hasVoted":false}},"renderedFields":null},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"12139","self":"https://test-instance.jiradc.ai/rest/api/latest/issue/12139","key":"DTM1-2081","fields":{"issuetype":{"self":"https://test-instance.jiradc.ai/rest/api/2/issuetype/10005","id":"10005","description":"A task that needs to be done.","iconUrl":"https://test-instance.jiradc.ai/secure/viewavatar?size=xsmall&avatarId=10645&avatarType=issuetype","name":"Task","subtask":false,"avatarId":10645},"tim[...]
