---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.jiradc.ai
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.jiradc.ai/rest/api/latest/groups/picker
      method: GET
    response:
      body: '{"header":"Showing 2 of 2 matching groups","total":2,"groups":[{"name":"jira-administrators","html":"jira-administrators","labels":[{"text":"Admin","title":"Users added to this group will be given administrative access","type":"ADMIN"},{"text":"Jira Service Management","title":"Users added to this group will be given access to <strong>Jira Service Management</strong>","type":"SINGLE"}]},{"name":"jira-servicedesk-users","html":"jira-servicedesk-users","labels":[{"text":"Jira Service Management","title":"Users added to this group will be given access to <strong>Jira Service Management</strong>","type":"SINGLE"}]}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Seraph-Loginreason:
          - OK
      status: 200 OK
      code: 200
      duration: 134.14184ms
  - id: 1
    request:
      host: test-instance.jiradc.ai
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.jiradc.ai/rest/api/latest/group/member?groupname=jira-administrators&startAt=0&maxResults=3
      method: GET
    response:
      body: '{"self":"https://test-instance.jiradc.ai/rest/api/2/group/member?includeInactiveUsers=false&maxResults=3&groupname=jira-administrators&startAt=0","maxResults":3,"startAt":0,"total":2,"isLast":true,"values":[{"self":"https://test-instance.jiradc.ai/rest/api/2/user?username=damon","name":"damon","key":"JIRAUSER10000","emailAddress":"user1@example.com","avatarUrls":{},"displayName":"Damon","active":true,"timeZone":"UTC"},{"self":"https://test-instance.jiradc.ai/rest/api/2/user?username=jiraadmin","name":"jiraadmin","key":"JIRAUSER10105","emailAddress":"jiraadmin@sgnl.ai","avatarUrls":{},"displayName":"Jira Admin","active":true,"timeZone":"UTC"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Seraph-Loginreason:
          - OK
      status: 200 OK
      code: 200
      duration: 27.370789ms
