---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.api.identitynow-demo.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://test-instance.api.identitynow-demo.com/beta/accounts?limit=100&offset=1&sorters=id
      method: GET
    response:
      body: '[{"authoritative":false,"systemAccount":false,"uncorrelated":true,"features":"SEARCH, UNLOCK, SYNC_PROVISIONING, PASSWORD, GROUP_PROVISIONING, ENABLE, PROVISIONING","uuid":null,"nativeIdentity":"e46393fb1bd0b5509a55631e6e4bcbf7","description":null,"disabled":false,"locked":false,"manuallyCorrelated":false,"hasEntitlements":true,"sourceId":"1fb19cd2dcd440b09711aca31dabf616","sourceName":"ServiceNow test-instance","identityId":"0017db102a20473ab350a537a4037009","identity":{"type":"IDENTITY","id":"0017db102a20473ab350a537a4037009","name":"James.Grogg"},"sourceOwner":{"type":"IDENTITY","id":"47c32a8fa61f4ab4a2bccd7887c11e2f","name":"se.admin"},"attributes":{"calendar_integration":"Outlook","user_name":"James.Grogg","roles":["e098ecf6c0a80165002aaec84d906014"],"sys_updated_on":"2023-08-03 18:33:00","title":"ED Nurse","sys_class_name":"User","notification":"Enable","sys_id":"e46393fb1bd0b5509a55631e6e4bcbf7","sys_updated_by":"admin","sys_created_on":"2023-08-03 18:33:00","sys_domain":"global","vip":"false","first_name":"James","email":"james.grogg@248.sailpointtechnologies.com","idNowDescription":"77dbd87c31d4c34978af9f2bb4ba0af6165dd9b419353c067af057d4766b3126","sys_created_by":"admin","locked_out":"false","sys_mod_count":"0","active":"true","groups":["5b3c2f56db45e01061a5a5bb1396197f"],"last_name":"Grogg","phone":"+11111111111","name":"James Grogg","password_needs_reset":"false"},"id":"ba699287e60b4014bcc4319f30e9b59e","name":"James.Grogg","created":"2023-09-22T16:47:35.702Z","modified":"2023-09-22T16:47:35.797Z"}]'
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Slpt-Request-Id:
          - be95c04f30884fb2b4b0c839ca08dc3d
      status: 200 OK
      code: 200
      duration: 378.171379ms
  - id: 1
    request:
      host: test-instance.api.identitynow-demo.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}}
        Content-Type:
          - application/json
      url: https://test-instance.api.identitynow-demo.com/beta/accounts/ba699287e60b4014bcc4319f30e9b59e/entitlements?limit=250&offset=0
      method: GET
    response:
      body: '[{"sourceSchemaObjectType":"group","attribute":"groups","attributes":{"sys_updated_by":"admin","sys_created_on":"2020-12-15 05:22:16","roles":["7117a7e9db3200106388f53a29961994"],"sys_mod_count":"0","name":"SailPoint_Catalog","active":"true","sys_updated_on":"2020-12-15 05:22:16","exclude_manager":"false","sys_created_by":"admin"},"value":"5b3c2f56db45e01061a5a5bb1396197f","description":null,"privileged":false,"cloudGoverned":false,"source":{"type":"SOURCE","id":"1fb19cd2dcd440b09711aca31dabf616","name":"ServiceNow test-instance"},"id":"8a8816d25d704e07a47bf3946347502d","name":"SailPoint_Catalog","created":"2023-09-22T16:46:51.666Z","modified":"2023-09-22T16:49:43.633Z"},{"sourceSchemaObjectType":"role","attribute":"roles","attributes":{"grantable":"true","sys_mod_count":"1","description":"Has access to Services catalog requests","elevated_privilege":"false","sys_updated_on":"2005-05-15 06:47:04","sys_class_name":"Role","can_delegate":"true","sys_package":"Service Catalog Platform","sys_update_name":"sys_user_role_e098ecf6c0a80165002aaec84d906014","sys_updated_by":"glide.maint","sys_created_on":"2005-05-15 06:44:08","name":"catalog","sys_name":"catalog","sys_scope":"Global","sys_created_by":"glide.maint"},"value":"e098ecf6c0a80165002aaec84d906014","description":"Has access to Services catalog requests","privileged":false,"cloudGoverned":false,"source":{"type":"SOURCE","id":"1fb19cd2dcd440b09711aca31dabf616","name":"ServiceNow test-instance"},"id":"a02ec36a78ee45498e9401a7ec6c1325","name":"catalog","created":"2023-09-22T16:46:52.006Z","modified":"2023-09-22T16:50:05.963Z"}]'
      headers:
        Content-Type:
          - application/json;charset=utf-8
        Slpt-Request-Id:
          - 08b30b314d814aef8fe24b9f978effa8
        X-Total-Count:
          - "2"
      status: 200 OK
      code: 200
      duration: 265.054834ms
