---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.duosecurity.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
        Content-Type:
          - application/x-www-form-urlencoded
      url: https://test-instance.duosecurity.com/admin/v1/groups?limit=1&offset=0
      method: GET
    response:
      body: '{"metadata": {"next_offset": 1, "total_objects": 5}, "response": [{"desc": "random group 1", "group_id": "DGKUKQSTG7ZFDN2N1XID", "mobile_otp_enabled": false, "name": "group1", "push_enabled": false, "sms_enabled": false, "status": "Active"}], "stat": "OK"}'
      headers:
        Content-Type:
          - application/json
        Etag:
          - '"99d82ca035410160eaaa587c35541c83373bf432"'
      status: 200 OK
      code: 200
      duration: 173.853861ms
