---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.duosecurity.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
        Content-Type:
          - application/x-www-form-urlencoded
      url: https://test-instance.duosecurity.com/admin/v1/phones?limit=1&offset=0
      method: GET
    response:
        - chunked
      body: '{"metadata": {"next_offset": 1, "total_objects": 3}, "response": [{"activated": false, "capabilities": ["sms"], "encrypted": "Encrypted", "extension": "", "fingerprint": "Unknown", "last_seen": "", "model": "Unknown", "name": "", "number": "+11111111111", "phone_id": "DPFL36P8Z8LZANN1FFEZ", "platform": "Apple iOS", "screenlock": "Unknown", "sms_passcodes_sent": false, "tampered": "Unknown", "type": "Mobile", "users": [{"alias1": null, "alias2": null, "alias3": null, "alias4": null, "aliases": {}, "created": 1706041056, "email": "user1@example.com", "firstname": null, "is_enrolled": false, "last_directory_sync": null, "last_login": null, "lastname": null, "notes": "", "realname": "Test User 1", "status": "active", "user_id": "DUYC8O4O953VBGGKLHAL", "username": "user1"}, {"alias1": null, "alias2": null, "alias3": null, "alias4": null, "aliases": {}, "created": 1706041057, "email": "user10@example.com", "firstname": null, "is_enrolled": false, "last_directory_sync": null, "last_login": null, "lastname": null, "notes": "", "realname": "Test User 10", "status": "active", "user_id": "DUG1B8MRABMVKYVCFO8H", "username": "user10"}, {"alias1": null, "alias2": null, "alias3": null, "alias4": null, "aliases": {}, "created": 1706041056, "email": "user2@example.c[...]
