---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListGroups&MaxItems=1&Version=2010-05-08
      form:
        Action:
          - ListGroups
        MaxItems:
          - "1"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 37f20c55-029b-4dbe-9b8b-3d49fc5a29c9
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T010634Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListGroupsResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsResult>
          <ResponseMetadata>
            <RequestId>baffdb23-9614-418a-987c-925ebe71ad5c</RequestId>
          </ResponseMetadata>
        </ListGroupsResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - baffdb23-9614-418a-987c-925ebe71ad5c
      status: 200 OK
      code: 200
      duration: 292.154789ms
