---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListGroups&MaxItems=1&Version=2010-05-08
      form:
        Action:
          - ListGroups
        MaxItems:
          - "1"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 1075d565-069b-4e39-b32a-43c1a3f66b29
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172334Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListGroupsResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <Groups>
              <member>
                <Path>/</Path>
                <GroupName>Group1</GroupName>
                <GroupId>AGPAXXXXXXXXXXXXXXXX1</GroupId>
                <Arn>arn:aws:iam::000000000000:group/Group1</Arn>
                <CreateDate>2024-05-10T17:29:18Z</CreateDate>
              </member>
            </Groups>
          </ListGroupsResult>
          <ResponseMetadata>
            <RequestId>77f453f2-4cf3-4b5e-9894-822f395145a1</RequestId>
          </ResponseMetadata>
        </ListGroupsResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - 77f453f2-4cf3-4b5e-9894-822f395145a1
      status: 200 OK
      code: 200
      duration: 323.083664ms
  - id: 1
    request:
      host: ""
      body: Action=GetGroup&GroupName=Group1&Version=2010-05-08
      form:
        Action:
          - GetGroup
        GroupName:
          - Group1
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - be3d1cd7-4c31-487f-81ec-ad2c81a5af65
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172334Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetGroupResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetGroupResult>
            <IsTruncated>false</IsTruncated>
            <Users>
              <member>
                <Path>/</Path>
                <UserName>sampleuser1</UserName>
                <Arn>arn:aws:iam::000000000000:user/sampleuser1</Arn>
                <UserId>AIDAXXXXXXXXXXXXXXXX1</UserId>
                <CreateDate>2024-05-10T17:29:04Z</CreateDate>
              </member>
            </Users>
            <Group>
              <Path>/</Path>
              <GroupName>Group1</GroupName>
              <GroupId>AGPAXXXXXXXXXXXXXXXX1</GroupId>
              <Arn>arn:aws:iam::000000000000:group/Group1</Arn>
              <CreateDate>2024-05-10T17:29:18Z</CreateDate>
            </Group>
          </GetGroupResult>
          <ResponseMetadata>
            <RequestId>f89f7e8f-1e8b-445a-bea6-cddab4e8bf29</RequestId>
          </ResponseMetadata>
        </GetGroupResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - f89f7e8f-1e8b-445a-bea6-cddab4e8bf29
      status: 200 OK
      code: 200
      duration: 293.951914ms
[...]
