---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListGroups&MaxItems=1&Version=2010-05-08
      form:
        Action:
          - ListGroups
        MaxItems:
          - "1"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - e482255d-cf33-4819-ac22-17e0bf5c419c
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T005157Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListGroupsResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsResult>
          <ResponseMetadata>
            <RequestId>e9092621-b16d-4eee-8372-c08086fadaab</RequestId>
          </ResponseMetadata>
        </ListGroupsResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - e9092621-b16d-4eee-8372-c08086fadaab
      status: 200 OK
      code: 200
      duration: 310.580327ms
