---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListGroups&MaxItems=1&Version=2010-05-08
      form:
        Action:
          - ListGroups
        MaxItems:
          - "1"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 69ab6dfb-4dc1-4b75-9ca5-f7388b6d4530
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172328Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListGroupsResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <Groups>
              <member>
                <Path>/</Path>
                <GroupName>Group1</GroupName>
                <GroupId>AGPAXXXXXXXXXXXXXXXX1</GroupId>
                <Arn>arn:aws:iam::000000000000:group/Group1</Arn>
                <CreateDate>2024-05-10T17:29:18Z</CreateDate>
              </member>
            </Groups>
          </ListGroupsResult>
          <ResponseMetadata>
            <RequestId>e7fff440-a9d6-4186-84bb-d77c2d284ea3</RequestId>
          </ResponseMetadata>
        </ListGroupsResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - e7fff440-a9d6-4186-84bb-d77c2d284ea3
      status: 200 OK
      code: 200
      duration: 323.764368ms
  - id: 1
    request:
      host: ""
      body: Action=GetGroup&GroupName=Group1&Version=2010-05-08
      form:
        Action:
          - GetGroup
        GroupName:
          - Group1
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - a5ead785-78e0-4997-b79f-41d00f2af8d4
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172329Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetGroupResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetGroupResult>
            <IsTruncated>false</IsTruncated>
            <Users>
              <member>
                <Path>/</Path>
                <UserName>sampleuser1</UserName>
                <Arn>arn:aws:iam::000000000000:user/sampleuser1</Arn>
                <UserId>AIDAXXXXXXXXXXXXXXXX1</UserId>
                <CreateDate>2024-05-10T17:29:04Z</CreateDate>
              </member>
            </Users>
            <Group>
              <Path>/</Path>
              <GroupName>Group1</GroupName>
              <GroupId>AGPAXXXXXXXXXXXXXXXX1</GroupId>
              <Arn>arn:aws:iam::000000000000:group/Group1</Arn>
              <CreateDate>2024-05-10T17:29:18Z</CreateDate>
            </Group>
          </GetGroupResult>
          <ResponseMetadata>
            <RequestId>bf3fd8c0-889f-49d9-a8f2-e2352e283511</RequestId>
          </ResponseMetadata>
        </GetGroupResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - bf3fd8c0-889f-49d9-a8f2-e2352e283511
      status: 200 OK
      code: 200
      duration: 288.886064ms
  - id: 2
    request:
      host: ""
      body: Action=ListAttachedGroupPolicies&GroupName=Group1&MaxItems=2&Version=2010-05-08
      form:
        Action:
          - ListAttachedGroupPolicies
        GroupName:
          - Group1
        MaxItems:
          - "2"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 30abce02-fcec-49d2-adcd-4dedcb70cbf8
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172329Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListAttachedGroupPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedGroupPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::000000000000:policy/ExamplePolicy1</PolicyArn>
                <PolicyName>ExamplePolicy1</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedGroupPoliciesResult>
          <ResponseMetadata>
            <RequestId>b8fe82fc-2d5e-4add-b881-67ef91b3b3ad</RequestId>
          </ResponseMetadata>
        </ListAttachedGroupPoliciesResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - b8fe82fc-2d5e-4add-b881-67ef91b3b3ad
      status: 200 OK
      code: 200
      duration: 324.442789ms
