---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListGroups&MaxItems=2&Version=2010-05-08
      form:
        Action:
          - ListGroups
        MaxItems:
          - "2"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 9f4a23d5-0135-40a4-ba07-810803db6d0c
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T002405Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListGroupsResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListGroupsResult>
            <IsTruncated>false</IsTruncated>
            <Groups/>
          </ListGroupsResult>
          <ResponseMetadata>
            <RequestId>dc7fde59-6b3e-4fc5-beac-c3868de6e43f</RequestId>
          </ResponseMetadata>
        </ListGroupsResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - dc7fde59-6b3e-4fc5-beac-c3868de6e43f
      status: 200 OK
      code: 200
      duration: 280.502337ms
