---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListSAMLProviders&Version=2010-05-08
      form:
        Action:
          - ListSAMLProviders
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - e936340c-ed2b-4623-be00-11f991d0d060
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172328Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListSAMLProvidersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListSAMLProvidersResult>
            <SAMLProviderList>
              <member>
                <ValidUntil>2123-12-13T19:51:02Z</ValidUntil>
                <Arn>arn:aws:iam::000000000000:saml-provider/AWSSSO_123456abcdef_DO_NOT_DELETE</Arn>
                <CreateDate>2023-12-13T19:51:02Z</CreateDate>
              </member>
              <member>
                <ValidUntil>2124-05-10T17:28:41Z</ValidUntil>
                <Arn>arn:aws:iam::000000000000:saml-provider/DemoProvider</Arn>
                <CreateDate>2024-05-10T17:28:41Z</CreateDate>
              </member>
            </SAMLProviderList>
          </ListSAMLProvidersResult>
          <ResponseMetadata>
            <RequestId>e000d9db-8c7e-4591-928e-4e872ceb349c</RequestId>
          </ResponseMetadata>
        </ListSAMLProvidersResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - e000d9db-8c7e-4591-928e-4e872ceb349c
      status: 200 OK
      code: 200
      duration: 276.775308ms
