---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListPolicies&MaxItems=2&Version=2010-05-08
      form:
        Action:
          - ListPolicies
        MaxItems:
          - "2"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 57ea607b-8054-45db-adcb-efa19fbac012
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172326Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListPoliciesResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <Policies>
              <member>
                <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
                <Path>/</Path>
                <UpdateDate>2024-07-09T16:26:21Z</UpdateDate>
                <DefaultVersionId>v6</DefaultVersionId>
                <PolicyId>ANPAXXXXXXXXXXXXXXXX1</PolicyId>
                <IsAttachable>true</IsAttachable>
                <PolicyName>ExamplePolicy1</PolicyName>
                <AttachmentCount>1</AttachmentCount>
                <Arn>arn:aws:iam::000000000000:policy/ExamplePolicy1</Arn>
                <CreateDate>2024-05-10T17:33:39Z</CreateDate>
              </member>
              <member>
                <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
                <Path>/</Path>
                <UpdateDate>2015-02-06T18:39:46Z</UpdateDate>
                <DefaultVersionId>v1</DefaultVersionId>
                <PolicyId>ANPAXXXXXXXXXXXXXXXX2</PolicyId>
                <IsAttachable>true</IsAttachable>
                <PolicyName>AdministratorAccess</PolicyName>
                <AttachmentCount>1</AttachmentCount>
                <Arn>arn:aws:iam::aws:policy/AdministratorAccess</Arn>
                <CreateDate>2015-02-06T18:39:46Z</CreateDate>
              </member>
            </Policies>
          </ListPoliciesResult>
          <ResponseMetadata>
            <RequestId>617393d4-089b-4a73-83e5-59f1d9d1e2ac</RequestId>
          </ResponseMetadata>
        </ListPoliciesResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - 617393d4-089b-4a73-83e5-59f1d9d1e2ac
      status: 200 OK
      code: 200
      duration: 296.262172ms
  - id: 1
    request:
      host: ""
      body: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3A000000000000%3Apolicy%2FExamplePolicy1&Version=2010-05-08
      form:
        Action:
          - GetPolicy
        PolicyArn:
          - arn:aws:iam::000000000000:policy/ExamplePolicy1
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 4626e58d-744a-4a54-8ee2-cba2a5eee3bf
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172326Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2024-07-09T16:26:21Z</UpdateDate>
              <DefaultVersionId>v6</DefaultVersionId>
              <PolicyId>ANPAXXXXXXXXXXXXXXXX1</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>ExamplePolicy1</PolicyName>
              <AttachmentCount>1</AttachmentCount>
              <Arn>arn:aws:iam::000000000000:policy/ExamplePolicy1</Arn>
              <Tags/>
              <CreateDate>2024-05-10T17:33:39Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>1bac5531-96f7-4971-98bf-e0cc34ffc016</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - 1bac5531-96f7-4971-98bf-e0cc34ffc016
      status: 200 OK
      code: 200
      duration: 315.829993ms
  - id: 2
    request:
      host: ""
      body: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3Aaws%3Apolicy%2FAdministratorAccess&Version=2010-05-08
      form:
        Action:
          - GetPolicy
        PolicyArn:
          - arn:aws:iam::aws:policy/AdministratorAccess
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 9d31d747-c5dc-4f09-96c8-7899d176f1e8
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172327Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2015-02-06T18:39:46Z</UpdateDate>
              <PolicyId>ANPAXXXXXXXXXXXXXXXX2</PolicyId>
              <DefaultVersionId>v1</DefaultVersionId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>AdministratorAccess</PolicyName>
              <Description>Provides full access to AWS services and resources.</Description>
              <AttachmentCount>1</AttachmentCount>
              <Arn>arn:aws:iam::aws:policy/AdministratorAccess</Arn>
              <Tags/>
              <CreateDate>2015-02-06T18:39:46Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>eee4242e-505f-4c26-9b23-0fe81dbc14c2</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - eee4242e-505f-4c26-9b23-0fe81dbc14c2
      status: 200 OK
      code: 200
      duration: 308.046576ms
