---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListPolicies&MaxItems=2&Version=2010-05-08
      form:
        Action:
          - ListPolicies
        MaxItems:
          - "2"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 0ea3abef-bb49-45c0-a7bf-bca110feda28
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T004341Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListPoliciesResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <Policies>
              <member>
                <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
                <Path>/</Path>
                <UpdateDate>2024-10-02T17:35:10Z</UpdateDate>
                <DefaultVersionId>v3</DefaultVersionId>
                <PolicyId>ANPAXXXXXXXXXXXXXXXX1</PolicyId>
                <IsAttachable>true</IsAttachable>
                <PolicyName>ExampleS3AccessPolicy</PolicyName>
                <AttachmentCount>1</AttachmentCount>
                <Arn>arn:aws:iam::000000000000:policy/ExampleS3AccessPolicy</Arn>
                <CreateDate>2024-10-01T18:37:41Z</CreateDate>
              </member>
              <member>
                <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
                <Path>/</Path>
                <UpdateDate>2015-02-06T18:39:46Z</UpdateDate>
                <DefaultVersionId>v1</DefaultVersionId>
                <PolicyId>ANPAXXXXXXXXXXXXXXXX2</PolicyId>
                <IsAttachable>true</IsAttachable>
                <PolicyName>AdministratorAccess</PolicyName>
                <AttachmentCount>8</AttachmentCount>
                <Arn>arn:aws:iam::aws:policy/AdministratorAccess</Arn>
                <CreateDate>2015-02-06T18:39:46Z</CreateDate>
              </member>
            </Policies>
          </ListPoliciesResult>
          <ResponseMetadata>
            <RequestId>ecfbb82a-6cc9-4338-b602-234a3f9009e6</RequestId>
          </ResponseMetadata>
        </ListPoliciesResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - ecfbb82a-6cc9-4338-b602-234a3f9009e6
      status: 200 OK
      code: 200
      duration: 301.098942ms
  - id: 1
    request:
      host: ""
      body: Action=GetPolicy&PolicyArn=arn%3Aaws%3Aiam%3A%3A000000000000%3Apolicy%2FExampleS3AccessPolicy&Version=2010-05-08
      form:
        Action:
          - GetPolicy
        PolicyArn:
          - arn:aws:iam::000000000000:policy/ExampleS3AccessPolicy
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 1c1846e5-804d-41eb-9836-bf624646551d
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T004342Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetPolicyResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetPolicyResult>
            <Policy>
              <PermissionsBoundaryUsageCount>0</PermissionsBoundaryUsageCount>
              <Path>/</Path>
              <UpdateDate>2024-10-02T17:35:10Z</UpdateDate>
              <DefaultVersionId>v3</DefaultVersionId>
              <PolicyId>ANPAXXXXXXXXXXXXXXXX1</PolicyId>
              <IsAttachable>true</IsAttachable>
              <PolicyName>ExampleS3AccessPolicy</PolicyName>
              <Description>Allow access to buckets tagged with CustomerID principal tags.</Description>
              <AttachmentCount>1</AttachmentCount>
              <Arn>arn:aws:iam::000000000000:policy/ExampleS3AccessPolicy</Arn>
              <Tags/>
              <CreateDate>2024-10-01T18:37:41Z</CreateDate>
            </Policy>
          </GetPolicyResult>
          <ResponseMetadata>
            <RequestId>a0e25b94-806d-4959-b5d4-daa43efbe8d6</RequestId>
          </ResponseMetadata>
        </GetPolicyResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - a0e25b94-806d-4959-b5d4-daa43efbe8d6
      status: 200 OK
      code: 200
      duration: 102.196073ms
[...]
