---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListRoles&MaxItems=2&Version=2010-05-08
      form:
        Action:
          - ListRoles
        MaxItems:
          - "2"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 649d7375-1652-4457-b38a-065cd001abf9
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172324Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListRolesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListRolesResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <Roles>
              <member>
                <Path>/aws-reserved/sso.amazonaws.com/</Path>
                <AssumeRolePolicyDocument>%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Effect%22%3A%22Allow%22%2C%22Principal%22%3A%7B%22Federated%22%3A%22arn%3Aaws%3Aiam%3A%3A000000000000%3Asaml-provider%2FAWSSSO_123456abcdef_DO_NOT_DELETE%22%7D%2C%22Action%22%3A%5B%22sts%3AAssumeRoleWithSAML%22%2C%22sts%3ATagSession%22%5D%2C%22Condition%22%3A%7B%22StringEquals%22%3A%7B%22SAML%3Aaud%22%3A%22https%3A%2F%2Fsignin.aws.amazon.com%2Fsaml%22%7D%7D%7D%5D%7D</AssumeRolePolicyDocument>
                <MaxSessionDuration>43200</MaxSessionDuration>
                <RoleId>AROAXXXXXXXXXXXXXXXX1</RoleId>
                <RoleName>AWSReservedSSO_AdministratorAccess_1234567890abcdef</RoleName>
                <Arn>arn:aws:iam::000000000000:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_AdministratorAccess_1234567890abcdef</Arn>
                <CreateDate>2023-12-13T19:51:02Z</CreateDate>
              </member>
              <member>
                <Path>/aws-reserved/sso.amazonaws.com/</Path>
                <AssumeRolePolicyDocument>%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Effect%22%3A%22Allow%22%2C%22Principal%22%3A%7B%22Federated%22%3A%22arn%3Aaws%3Aiam%3A%3A000000000000%3Asaml-provider%2FAWSSSO_123456abcdef_DO_NOT_DELETE%22%7D%2C%22Action%22%3A%5B%22sts%3AAssumeRoleWithSAML%22%2C%22sts%3ATagSession%22%5D%2C%22Condition%22%3A%7B%22StringEquals%22%3A%7B%22SAML%3Aaud%22%3A%22https%3A%2F%2Fsignin.aws.amazon.com%2Fsaml%22%7D%7D%7D%5D%7D</AssumeRolePolicyDocument>
                <MaxSessionDuration>43200</MaxSessionDuration>
                <RoleId>AROAXXXXXXXXXXXXXXXX2</RoleId>
                <RoleName>AWSReservedSSO_Okta_Transform_Permission_Set_abcdef1234567890</RoleName>
                <Arn>arn:aws:iam::000000000000:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_Okta_Transform_Permission_Set_abcdef1234567890</Arn>
                <CreateDate>2024-05-24T19:59:59Z</CreateDate>
              </member>
            </Roles>
          </ListRolesResult>
          <ResponseMetadata>
            <RequestId>42f131e8-3cb7-41ef-91d3-19b29f6bee8c</RequestId>
          </ResponseMetadata>
        </ListRolesResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - 42f131e8-3cb7-41ef-91d3-19b29f6bee8c
      status: 200 OK
      code: 200
      duration: 331.2694ms
  - id: 1
    request:
      host: ""
      body: Action=GetRole&RoleName=AWSReservedSSO_AdministratorAccess_1234567890abcdef&Version=2010-05-08
      form:
        Action:
          - GetRole
        RoleName:
          - AWSReservedSSO_AdministratorAccess_1234567890abcdef
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - fdb4f3e2-3470-46de-b98a-d5ad9f985664
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172325Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetRoleResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetRoleResult>
            <Role>
              <Path>/aws-reserved/sso.amazonaws.com/</Path>
              <AssumeRolePolicyDocument>%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Effect%22%3A%22Allow%22%2C%22Principal%22%3A%7B%22Federated%22%3A%22arn%3Aaws%3Aiam%3A%3A000000000000%3Asaml-provider%2FAWSSSO_123456abcdef_DO_NOT_DELETE%22%7D%2C%22Action%22%3A%5B%22sts%3AAssumeRoleWithSAML%22%2C%22sts%3ATagSession%22%5D%2C%22Condition%22%3A%7B%22StringEquals%22%3A%7B%22SAML%3Aaud%22%3A%22https%3A%2F%2Fsignin.aws.amazon.com%2Fsaml%22%7D%7D%7D%5D%7D</AssumeRolePolicyDocument>
              <MaxSessionDuration>43200</MaxSessionDuration>
              <RoleId>AROAXXXXXXXXXXXXXXXX1</RoleId>
              <RoleLastUsed>
                <LastUsedDate>2024-05-24T19:53:16Z</LastUsedDate>
                <Region>us-east-2</Region>
              </RoleLastUsed>
              <RoleName>AWSReservedSSO_AdministratorAccess_1234567890abcdef</RoleName>
              <Arn>arn:aws:iam::000000000000:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_AdministratorAccess_1234567890abcdef</Arn>
              <CreateDate>2023-12-13T19:51:02Z</CreateDate>
            </Role>
          </GetRoleResult>
          <ResponseMetadata>
            <RequestId>dd8dda23-bf86-4f1b-b497-e03dc8096eb1</RequestId>
          </ResponseMetadata>
        </GetRoleResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - dd8dda23-bf86-4f1b-b497-e03dc8096eb1
      status: 200 OK
      code: 200
      duration: 297.868503ms
[...]
