---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListUsers&MaxItems=1&Version=2010-05-08
      form:
        Action:
          - ListUsers
        MaxItems:
          - "1"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - fdd37a42-89a0-4194-8c54-c8799874b11c
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T005958Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListUsersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUsersResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <Users>
              <member>
                <Path>/</Path>
                <PasswordLastUsed>2024-10-11T03:17:57Z</PasswordLastUsed>
                <UserName>user1@example.com</UserName>
                <Arn>arn:aws:iam::000000000000:user/user1@example.com</Arn>
                <UserId>AIDAXXXXXXXXXXXXXXXX1</UserId>
                <CreateDate>2024-09-26T20:01:40Z</CreateDate>
              </member>
            </Users>
          </ListUsersResult>
          <ResponseMetadata>
            <RequestId>57d6ab98-02b4-4360-92c3-68872d42335b</RequestId>
          </ResponseMetadata>
        </ListUsersResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - 57d6ab98-02b4-4360-92c3-68872d42335b
      status: 200 OK
      code: 200
      duration: 331.4156ms
  - id: 1
    request:
      host: ""
      body: Action=GetUser&UserName=user1%40example.com&Version=2010-05-08
      form:
        Action:
          - GetUser
        UserName:
          - user1@example.com
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 322b1e63-6c6f-4cc1-b47a-5e5656eea63f
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T005958Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <PasswordLastUsed>2024-10-11T03:17:57Z</PasswordLastUsed>
              <UserName>user1@example.com</UserName>
              <Arn>arn:aws:iam::000000000000:user/user1@example.com</Arn>
              <UserId>AIDAXXXXXXXXXXXXXXXX1</UserId>
              <Tags>
                <member>
                  <Value>COMPANY_B-POC-SGNL</Value>
                  <Key>{{OMITTED}}</Key>
                </member>
              </Tags>
              <CreateDate>2024-09-26T20:01:40Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>310c6b20-085f-4770-b2a1-03742f5f7d86</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - 310c6b20-085f-4770-b2a1-03742f5f7d86
      status: 200 OK
      code: 200
      duration: 95.471354ms
  - id: 2
    request:
      host: ""
      body: Action=ListAttachedUserPolicies&MaxItems=1&UserName=damon%40sgnl.ai&Version=2010-05-08
      form:
        Action:
          - ListAttachedUserPolicies
        MaxItems:
          - "1"
        UserName:
          - user1@example.com
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 4f20a659-2930-4691-9d28-b60057749fa5
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20241019T005959Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::aws:policy/AdministratorAccess</PolicyArn>
                <PolicyName>AdministratorAccess</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>21684700-4391-4728-9e44-97115680c47e</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - 21684700-4391-4728-9e44-97115680c47e
      status: 200 OK
      code: 200
      duration: 112.778068ms
