---
version: 2
interactions:
  - id: 0
    request:
      host: ""
      body: Action=ListUsers&MaxItems=1&Version=2010-05-08
      form:
        Action:
          - ListUsers
        MaxItems:
          - "1"
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 0329e5df-bd66-4c99-ada5-b09c70f58a4d
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172332Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListUsersResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListUsersResult>
            <IsTruncated>true</IsTruncated>
            <Marker>MARKER_PLACEHOLDER</Marker>
            <Users>
              <member>
                <Path>/</Path>
                <UserName>sampleuser1</UserName>
                <Arn>arn:aws:iam::000000000000:user/sampleuser1</Arn>
                <UserId>AIDAXXXXXXXXXXXXXXXX1</UserId>
                <CreateDate>2024-05-10T17:29:04Z</CreateDate>
              </member>
            </Users>
          </ListUsersResult>
          <ResponseMetadata>
            <RequestId>a63571c8-5268-4441-80f2-2435058723cc</RequestId>
          </ResponseMetadata>
        </ListUsersResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - a63571c8-5268-4441-80f2-2435058723cc
      status: 200 OK
      code: 200
      duration: 303.650675ms
  - id: 1
    request:
      host: ""
      body: Action=GetUser&UserName=sampleuser1&Version=2010-05-08
      form:
        Action:
          - GetUser
        UserName:
          - sampleuser1
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - 37e25e9f-03dd-4eec-83c5-fd1465dda42a
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172332Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <UserName>sampleuser1</UserName>
              <Arn>arn:aws:iam::000000000000:user/sampleuser1</Arn>
              <UserId>AIDAXXXXXXXXXXXXXXXX1</UserId>
              <Tags>
                <member>
                  <Value>IT</Value>
                  <Key>department</Key>
                </member>
              </Tags>
              <CreateDate>2024-05-10T17:29:04Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>cf998979-a0e9-48a0-8692-84107bde32b8</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - cf998979-a0e9-48a0-8692-84107bde32b8
      status: 200 OK
      code: 200
      duration: 316.823291ms
  - id: 2
    request:
      host: ""
      body: Action=ListAttachedUserPolicies&MaxItems=1&UserName=sampleuser1&Version=2010-05-08
      form:
        Action:
          - ListAttachedUserPolicies
        MaxItems:
          - "1"
        UserName:
          - sampleuser1
        Version:
          - "2010-05-08"
      headers:
        Amz-Sdk-Invocation-Id:
          - fccbc55b-23a0-475c-bd46-beecc15904cf
        Amz-Sdk-Request:
          - attempt=1; max=3
        Authorization:
          - "{{OMITTED}}"
        Content-Type:
          - application/x-www-form-urlencoded
        X-Amz-Date:
          - 20240723T172333Z
      url: https://iam.amazonaws.com/
      method: POST
    response:
      body: |
        <ListAttachedUserPoliciesResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <ListAttachedUserPoliciesResult>
            <IsTruncated>false</IsTruncated>
            <AttachedPolicies>
              <member>
                <PolicyArn>arn:aws:iam::aws:policy/ReadOnlyAccess</PolicyArn>
                <PolicyName>ReadOnlyAccess</PolicyName>
              </member>
            </AttachedPolicies>
          </ListAttachedUserPoliciesResult>
          <ResponseMetadata>
            <RequestId>ca4f92f2-7097-4293-bda3-50aac1ed8e1c</RequestId>
          </ResponseMetadata>
        </ListAttachedUserPoliciesResponse>
      headers:
        Content-Type:
          - text/xml
        X-Amzn-Requestid:
          - ca4f92f2-7097-4293-bda3-50aac1ed8e1c
      status: 200 OK
      code: 200
      duration: 280.285484ms
