---
version: 2
interactions:
  - id: 0
    request:
      host: admin.googleapis.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://admin.googleapis.com/admin/directory/v1/groups?domain=sgnldemos.com&maxResults=2
      method: GET
    response:
      body: |
        {
          "kind": "admin#directory#groups",
          "etag": "\"OgGr5k3K9Y5ATXvRGH2u3OKSYpWBthUtvh8XRXQHGKs/WqWiNlGA_9bfJvbD22E2dN372Eo\"",
          "groups": [
            {
              "kind": "admin#directory#group",
              "id": "01qoc8b13vgdlqb",
              "etag": "\"OgGr5k3K9Y5ATXvRGH2u3OKSYpWBthUtvh8XRXQHGKs/jegUmo9HAPpclSc2UeC_v9oHm2E\"",
              "email": "emptygroup@sgnldemos.com",
              "name": "Empty Group",
              "directMembersCount": "0",
              "description": "",
              "adminCreated": true,
              "nonEditableAliases": [
                "emptygroup@sgnldemos.com.test-google-a.com"
              ]
            },
            {
              "kind": "admin#directory#group",
              "id": "048pi1tg0qf1f8g",
              "etag": "\"OgGr5k3K9Y5ATXvRGH2u3OKSYpWBthUtvh8XRXQHGKs/n5phxV9NHrbJaK4QhiAp3pDR21k\"",
              "email": "group2@sgnldemos.com",
              "name": "Group2",
              "directMembersCount": "3",
              "description": "",
              "adminCreated": true,
              "nonEditableAliases": [
                "group2@sgnldemos.com.test-google-a.com"
              ]
            }
          ],
          "nextPageToken": "Q2lVd0xDSm5jbTkxY0RKQWMyZHViR1JsYlc5ekxtTnZiU0lzTnpVM05EWTFNVFExTVRnMFNBTmdoNWJnNmY3X19fX19BUT09"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        Etag:
          - '"OgGr5k3K9Y5ATXvRGH2u3OKSYpWBthUtvh8XRXQHGKs/WqWiNlGA_9bfJvbD22E2dN372Eo"'
      status: 200 OK
      code: 200
      duration: 428.3847ms
