---
version: 2
interactions:
  - id: 0
    request:
      host: admin.googleapis.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://admin.googleapis.com/admin/directory/v1/users?domain=sgnldemos.com&maxResults=2
      method: GET
    response:
      body: |
        {
          "kind": "admin#directory#users",
          "etag": "\"OgGr5k3K9Y5ATXvRGH2u3OKSYpWBthUtvh8XRXQHGKs/vzcIYIl1rfwQ9T1bT40VOf0B3zQ\"",
          "users": [
            {
              "kind": "admin#directory#user",
              "id": "USER987654321",
              "etag": "\"OgGr5k3K9Y5ATXvRGH2u3OKSYpWBthUtvh8XRXQHGKs/HFAgBzXOF0pogUtDLHSgZQ9lvls\"",
              "primaryEmail": "user1@sgnldemos.com",
              "name": {
                "givenName": "user1",
                "familyName": "user1",
                "fullName": "user1 user1"
              },
              "isAdmin": true,
              "isDelegatedAdmin": false,
              "lastLoginTime": "2024-02-02T23:30:53.000Z",
              "creationTime": "2024-02-02T23:30:06.000Z",
              "agreedToTerms": true,
              "suspended": false,
              "archived": false,
              "changePasswordAtNextLogin": false,
              "ipWhitelisted": false,
              "emails": [
                {
                  "address": "user1@sgnldemos.com",
                  "primary": true
                },
                {
                  "address": "user1@sgnldemos.com.test-google-a.com"
                }
              ],
              "languages": [
                {
                  "languageCode": "en",
                  "preference": "preferred"
                }
              ],
              "nonEditableAliases": [
                "user1@sgnldemos.com.test-google-a.com"
              ],
              "customerId": "CUST123456",
              "orgUnitPath": "/",
              "isMailboxSetup": true,
              "isEnrolledIn2Sv": false,
              "isEnforcedIn2Sv": false,
              "includeInGlobalAddressList": true,
              "recoveryEmail": "user1@sgnl.ai"
            },
            {
              "kind": "admin#directory#user",
              "id": "102475661842232156723",
              "etag": "\"OgGr5k3K9Y5ATXvRGH2u3OKSYpWBthUtvh8XRXQHGKs/VaUMmgVxJHqNreIe-pK6XVo-Kyk\"",
              "primaryEmail": "user2@sgnldemos.com",
              "name": {
                "givenName": "user2",
                "familyName": "user2",
                "fullName": "user2 user2"
              },
              "isAdmin": true,
              "isD[...]
