---
version: 2
interactions:
  - id: 0
    request:
      host: api.pagerduty.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Token token={{OMITTED}}
      url: https://api.pagerduty.com/teams?offset=0&limit=1
      method: GET
    response:
      body: '{"teams":[{"id":"PHKRHH4","name":"Admins","description":null,"type":"team","summary":"Admins","self":"https://api.pagerduty.com/teams/PHKRHH4","html_url":"https://nick.pagerduty.com/teams/PHKRHH4","default_role":"manager","parent":null}],"limit":1,"offset":0,"total":null,"more":true}'
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"e2e26baa4ee9ff38b35efdccf71629ad"
      status: 200 OK
      code: 200
      duration: 139.774221ms
  - id: 1
    request:
      host: api.pagerduty.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Token token={{OMITTED}}
      url: https://api.pagerduty.com/teams/PHKRHH4/members?offset=0&limit=3
      method: GET
    response:
      body: '{"members":[{"user":{"id":"PT9HH3C","type":"user_reference","summary":"John Doe","self":"https://api.pagerduty.com/users/PT9HH3C","html_url":"https://nick.pagerduty.com/users/PT9HH3C"},"role":"observer"},{"user":{"id":"PPAWGRP","type":"user_reference","summary":"Owen Smith","self":"https://api.pagerduty.com/users/PPAWGRP","html_url":"https://nick.pagerduty.com/users/PPAWGRP"},"role":"observer"}],"limit":3,"offset":0,"more":false,"total":null}'
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"7469514041cc3cd96d86be79b6f398c9"
      status: 200 OK
      code: 200
      duration: 66.252919ms
