---
version: 2
interactions:
  - id: 0
    request:
      host: api.pagerduty.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Token token={{OMITTED}}
      url: https://api.pagerduty.com/teams?offset=0&limit=3
      method: GET
    response:
      body: '{"teams":[{"id":"PHKRHH4","name":"Admins","description":null,"type":"team","summary":"Admins","self":"https://api.pagerduty.com/teams/PHKRHH4","html_url":"https://nick.pagerduty.com/teams/PHKRHH4","default_role":"manager","parent":null},{"id":"PLWCIWU","name":"Developers","description":null,"type":"team","summary":"Developers","self":"https://api.pagerduty.com/teams/PLWCIWU","html_url":"https://nick.pagerduty.com/teams/PLWCIWU","default_role":"manager","parent":null},{"id":"PEO3H4E","name":"Marketing","description":null,"type":"team","summary":"Marketing","self":"https://api.pagerduty.com/teams/PEO3H4E","html_url":"https://nick.pagerduty.com/teams/PEO3H4E","default_role":"manager","parent":null}],"limit":3,"offset":0,"total":null,"more":true}'
      headers:
        Content-Type:
          - application/json
        Etag:
          - W/"ef0553beca74a8270fb2332b854d3e98"
      status: 200 OK
      code: 200
      duration: 142.85666ms
