---
version: 2
interactions:
  - id: 0
    request:
      host: api.pagerduty.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Token token={{OMITTED}}
      url: https://api.pagerduty.com/users?offset=0&limit=3
      method: GET
    response:
      body: '{"users":[{"name":"John Doe","email":"jdoe@test.com","time_zone":"America/Denver","color":"red","avatar_url":"","billed":false,"role":"read_only_limited_user","description":null,"invitation_sent":true,"job_title":null,"teams":[],"contact_methods":[{"id":"P3LZNYI","type":"email_contact_method_reference","summary":"Default","self":"https://api.pagerduty.com/users/PT9HH3C/contact_methods/P3LZNYI","html_url":null}],"notification_rules":[{"id":"P9754QN","type":"assignment_notification_rule_reference","summary":"0 minutes: channel P3LZNYI","self":"https://api.pagerduty.com/users/PT9HH3C/notification_rules/P9754QN","html_url":null},{"id":"PPGT52A","type":"assignment_notification_rule_reference","summary":"0 minutes: channel P3LZNYI","self":"https://api.pagerduty.com/users/PT9HH3C/notification_rules/PPGT52A","html_url":null}],"coordinated_incidents":[],"id":"PT9HH3C","type":"user","summary":"John Doe","self":"https://api.pagerduty.com/users/PT9HH3C","html_url":"https://nick.pagerduty.com/users/PT9HH3C"},{"name":"Nick","email":"nick@sgnl.ai","time_zone":"America/Denver","color":"purple","avatar_url":"","billed":true,"role":"owner","description":null,"invitation_sent":false,"job_title":null,"teams":[],"contact_methods":[{"id":"P1COZ0Z","type":"email_contact_method_reference","summary":"Default","self":"https://api.pagerduty.com/users/P2U4KPO/[...]
