---
version: 2
interactions:
  - id: 0
    request:
      host: sgnl-mock.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://sgnl-mock.service-now.com/api/now/v2/table/customer_account?sysparm_fields=sys_id,name,sys_created_by,sys_class_name,zip,notes,sys_mod_count,account_code,sys_tags,vendor,primary_contact,active_escalation,sys_updated_on,sys_updated_by,stock_symbol,street,account_parent,customer,parent,state,country,theme,account_path,number,phone,city,contact,sys_created_on&sysparm_exclude_reference_link=true&sysparm_limit=350&sysparm_query=active%3Dtrue%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"parent":"","country":"US","notes":"","stock_symbol":"","city":"West Chester","active_escalation":"","sys_updated_on":"2022-05-26 22:13:28","sys_class_name":"customer_account","sys_id":"0240678487774910b8137448dabb356d","account_parent":"","number":"11667","sys_updated_by":"admin","vendor":"false","street":"","sys_created_on":"2022-05-26 21:58:26","contact":"","theme":"","state":"OH","sys_created_by":"sgnl.ai","zip":"","sys_mod_count":"2","sys_tags":"","phone":"","name":"Considine, Mayer and Stiedemann","account_code":"!!#L","account_path":"!!#L","primary_contact":"9610ef4487774910b8137448dabb35f0","customer":"false"},{"parent":"","country":"US","notes":"","stock_symbol":"","city":"Midland","active_escalation":"","sys_updated_on":"2022-05-26 21:59:00","sys_class_name":"customer_account","sys_id":"03206f008737c910793a97983cbb3548","account_parent":"","number":"11785","sys_updated_by":"admin","vendor":"false","street":"","sys_created_on":"2022-05-26 21:57:57","contact":"","theme":"","state":"TX","sys_created_by":"sgnl.ai","zip":"","sys_mod_count":"2","sys_tags":"","phone":"","name":"Ruecker-Rowe","acco[...]
