---
version: 2
interactions:
  - id: 0
    request:
      host: sgnl-mock.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://sgnl-mock.service-now.com/api/now/v2/table/sn_customerservice_case?sysparm_fields=sys_id,incident,approval_set,escalation,assigned_on,cmdb_ci,closed_at,business_impact,product,approval,account,stage,work_end,change,entitlement,time_worked,location,resolved_by,problem,company,number,opened_at,impact,expected_start,sla_due,contributorUsers,active,sys_updated_by,approval_history,close_notes,sys_updated_on,opened_by,assigned_to,description,sys_created_on,asset,activity_due,closed_by,parent,work_start,resolved_at,case,short_description,sys_created_by,urgency,assignment_group,state,active_escalation,priority,due_date,caused_by,resolution_code&sysparm_exclude_reference_link=true&sysparm_limit=350&sysparm_query=ORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"parent":"","caused_by":"","active_escalation":"","sys_updated_on":"2024-01-25 19:44:46","approval_history":"","number":"CS0001140","resolved_by":"","problem":"","sys_updated_by":"damon","opened_by":"b2459a268727d110b8137448dabb350a","sys_created_on":"2024-01-25 16:47:44","state":"1","case":"Requesting access to the Inventory API​CS0001140","sys_created_by":"damon","assigned_on":"2024-01-25 19:44:46","closed_at":"","cmdb_ci":"","impact":"3","active":"true","entitlement":"","business_impact":"","priority":"4","time_worked":"","expected_start":"","opened_at":"2024-01-25 16:47:09","work_end":"","resolved_at":"","approval_set":"","short_description":"Requesting access to the Inventory API","work_start":"","assignment_group":"","description":"","close_notes":"","closed_by":"","sys_id":"04492a8c93884a1089e6f7d86cba101d","resolution_code":"","urgency":"3","company":"","activity_due":"","assigned_to":"b46ca64093c84a1089e6f7d86cba1084","product":"5bd41f9c87667550b8137448dabb35cd","approval":"not requested","sla_due":"","change":"","due_date":"","stage":"","escalation":"0","location":"","asset":"","incident":"","account":""},{"parent":"","caused_by":"?","active_escalation":"","sys_updated_on":"2022-05-26 22:00:39","approval_history":"","number":"CSE0014483","resolved_by":"","problem":"","sys_updated_by":"sgnl.ai","opened_by":"529825d987634110b8137448dabb35e9","sys_created_on":"2022-05-26 21:59:03","state":"1","case":"​CSE0014483","sys_created_by":"sgnl.ai","assigned_on":"2022-05-26 22:00:39","closed_at":"2016-08-04 00:00:00","cmdb_ci":"","impact":"2","active":"true","entitlement":"","business_impact":"","priorit[...]
