---
version: 2
interactions:
  - id: 0
    request:
      host: sgnl-mock.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://sgnl-mock.service-now.com/api/now/v2/table/sys_user_group?sysparm_fields=sys_id,manager,default_assignee,parent,active,type,name,cost_center,include_members,sys_created_by,exclude_manager,email,sys_updated_on,roles,sys_updated_by,sys_created_on&sysparm_exclude_reference_link=true&sysparm_limit=150&sysparm_query=active%3Dtrue%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"parent":"","manager":"","roles":"","active":"true","sys_updated_on":"2020-03-17 11:39:14","type":"","sys_id":"019ad92ec7230010393d265c95c260dd","sys_updated_by":"admin","cost_center":"","default_assignee":"","sys_created_on":"2020-03-17 11:39:14","name":"Analytics Settings Managers","exclude_manager":"false","include_members":"false","sys_created_by":"admin","email":""},{"parent":"","manager":"","roles":"","active":"true","sys_updated_on":"2015-06-08 20:35:14","type":"","sys_id":"0270c251c3200200be647bfaa2d3aea6","sys_updated_by":"admin","cost_center":"","default_assignee":"","sys_created_on":"2015-06-08 20:35:14","name":"Customer Service Support","exclude_manager":"false","include_members":"false","sys_created_by":"admin","email":""},{"parent":"","manager":"","roles":"","active":"true","sys_updated_on":"2019-08-10 07:15:30","type":"","sys_id":"0a92f13e7383[...]
