---
version: 2
interactions:
  - id: 0
    request:
      host: sgnl-mock.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://sgnl-mock.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,sys_updated_on,sys_created_on,user,sys_updated_by,group,sys_created_by&sysparm_exclude_reference_link=true&sysparm_limit=150&sysparm_query=ORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"00930771870300107e31af1e36cb0b17","sys_updated_by":"admin","sys_created_on":"2024-02-12 14:50:37","sys_updated_on":"2024-02-12 14:50:37","user":"92f24371870300107e31af1e36cb0bef","sys_created_by":"admin","group":"e0094d71870300107e31af1e36cb0ba3"},{"sys_id":"011919ad9385461089e6f7d86cba10bd","sys_updated_by":"aldo","sys_created_on":"2024-03-19 19:50:32","sys_updated_on":"2024-03-19 19:50:32","user":"aa4564cd93500e1089e6f7d86cba101c","sys_created_by":"aldo","group":"019ad92ec7230010393d265c95c260dd"},{"sys_id":"02ad2be0c3c782103e3f7fd9d0013189","sys_updated_by":"joe","sys_created_on":"2024-06-24 14:11:21","sys_updated_on":"2024-06-24 14:11:21","user":"b2459a268727d110b8137448dabb350a","sys_created_by":"j[...]
