---
version: 2
interactions:
  - id: 0
    request:
      host: sgnl-mock.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://sgnl-mock.service-now.com/api/now/v2/table/sys_user?sysparm_fields=sys_id,cost_center,last_login_device,sys_updated_by,city,sys_created_on,middle_name,last_login_time,user_name,street,employee_number,name,first_name,email,active,hashed_user_id,country,phone,state,sys_created_by,title,department,company,last_name,sys_updated_on,enable_multifactor_authn,mobile_phone,failed_attempts,last_login,manager,time_zone,zip,location&sysparm_exclude_reference_link=true&sysparm_limit=150&sysparm_query=active%3Dtrue%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"country":"US","last_login_time":"","city":"","last_login_device":"","user_name":"jennifer.zamora","failed_attempts":"","sys_updated_on":"2022-05-26 21:57:43","title":"CIO","sys_id":"0010af4487774910b8137448dabb351c","sys_updated_by":"sgnl.ai","enable_multifactor_authn":"false","sys_created_on":"2022-05-26 21:57:29","street":"","mobile_phone":"","company":"","state":"MA","department":"","first_name":"Jennifer","email":"jennifer.zamora@wholesalechips.co","sys_created_by":"sgnl.ai","zip":"2067","manager":"7f00ef4487774910b8137448dabb353f","last_login":"","active":"true","last_name":"Zamora","middle_name":"","time_zone":"","cost_center":"","phone":"","name":"Jennifer Zamora","employee_number":"","location":""},{"country":"US","last_login_time":"","city":"","last_login_device":"","user_name":"noah.villanueva","failed_attempts":"","sys_updated_on":"2022-05-26 21:57:47","title":"Area Sales Manager","sys_id":"0110eb008737c910793a97983cbb3507","sys_updated_by":"sgnl.ai","enable_multifactor_authn":"false","sys_created_on":"2022-05-26 21:57:33","street":"","mobile_phone":"","company":"","state":"ME","department":"","first_name":"Noah","email":"noah.villanueva@wholesalechips.co","sys_created_by":"sgnl.ai"[...]
