---
version: 2
interactions:
    - id: 0
      request:
        host: test-instance.my.salesforce.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer {{OMITTED}}
            Sforce-Query-Options:
                - batchSize=200
        url: https://test-instance.my.salesforce.com/services/data/v58.0/query?q=SELECT+Id,Name,Locations__c+FROM+Account+ORDER+BY+Id+ASC
        method: GET
      response:
        body: '{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000XgJxhQAF"},"Id":"001gL00000XgJxhQAF","Name":"TestMultiFieldPicklist","Locations__c":"Chicago;New York;Seattle"},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000XjjndQAB"},"Id":"001gL00000XjjndQAB","Name":"TestMultiFieldPicklist-1","Locations__c":"Chicago"},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000WW0iRQAT"},"Id":"001gL00000WW0iRQAT","Name":"Pyramid Construction Inc.","Locations__c":null}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=8/15000
            X-Sfdc-Edge-Cache:
                - MISS
            X-Sfdc-Request-Id:
                - 35d99e5533dbbdc225fcc0f6748de0a4
        status: 200 OK
        code: 200
        duration: 242.281369ms
