---
version: 2
interactions:
    - id: 0
      request:
        host: test-instance.my.salesforce.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer {{OMITTED}}
            Sforce-Query-Options:
                - batchSize=200
        url: https://test-instance.my.salesforce.com/services/data/v58.0/query?q=SELECT+Id,Name,Active__c+FROM+Account+ORDER+BY+Id+ASC
        method: GET
      response:
        body: '{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000WW0iPQAT"},"Id":"001gL00000WW0iPQAT","Name":"Edge Communications","Active__c":"Yes"},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000WW0iQQAT"},"Id":"001gL00000WW0iQQAT","Name":"Burlington Textiles Corp of America","Active__c":null},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000WW0iRQAT"},"Id":"001gL00000WW0iRQAT","Name":"Pyramid Construction Inc.","Active__c":"Yes"}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=9/15000
            X-Sfdc-Edge-Cache:
                - MISS
            X-Sfdc-Request-Id:
                - 0548c3669c477be94360231cae34a594
        status: 200 OK
        code: 200
        duration: 149.700949ms
