---
version: 2
interactions:
    - id: 0
      request:
        host: test-instance.my.salesforce.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer {{OMITTED}}
            Sforce-Query-Options:
                - batchSize=200
        url: https://test-instance.my.salesforce.com/services/data/v58.0/query?q=SELECT+Id,Name,Owner.Name+FROM+Account+ORDER+BY+Id+ASC
        method: GET
      response:
        body: '{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000WW0iPQAT"},"Id":"001gL00000WW0iPQAT","Name":"Edge Communications","Owner":{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000ApTwiQAF"},"Name":"OrgFarm EPIC"}},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000WW0iQQAT"},"Id":"001gL00000WW0iQQAT","Name":"Burlington Textiles Corp of America","Owner":{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000ApTwiQAF"},"Name":"OrgFarm EPIC"}},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/001gL00000WW0iRQAT"},"Id":"001gL00000WW0iRQAT","Name":"Pyramid Construction Inc.","Owner":{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000ApTwiQAF"},"Name":"OrgFarm EPIC"}}]}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            Sforce-Limit-Info:
                - api-usage=9/15000
            X-Sfdc-Edge-Cache:
                - MISS
            X-Sfdc-Request-Id:
                - 474eb502c8b717f7693f89b6607178b5
        status: 200 OK
        code: 200
        duration: 134.070479ms
