---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.my.salesforce.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Sforce-Query-Options:
          - batchSize=200
      url: https://test-instance.my.salesforce.com/services/data/v58.0/query?q=SELECT+Id,CaseNumber+FROM+Case+ORDER+BY+Id+ASC
      method: GET
    response:
        - chunked
      body: '{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Case","url":"/services/data/v58.0/sobjects/Case/5008Z00001xKVNCQA4"},"Id":"5008Z00001xKVNCQA4","CaseNumber":"00001001"},{"attributes":{"type":"Case","url":"/services/data/v58.0/sobjects/Case/5008Z00001xKVNDQA4"},"Id":"5008Z00001xKVNDQA4","CaseNumber":"00001000"},{"attributes":{"type":"Case","url":"/services/data/v58.0/sobjects/Case/5008Z00001xKVNEQA4"},"Id":"5008Z00001xKVNEQA4","CaseNumber":"00001002"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Sforce-Limit-Info:
          - api-usage=13/15000
      status: 200 OK
      code: 200
      duration: 531.638104ms
