---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.my.salesforce.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Sforce-Query-Options:
          - batchSize=200
      url: https://test-instance.my.salesforce.com/services/data/v58.0/query?q=SELECT+Id,Name,Manager.Manager.Manager.Manager.Name+FROM+User+ORDER+BY+Id+ASC
      method: GET
    response:
      body: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000BHeFdQAL"},"Id":"005gL00000BHeFdQAL","Name":"Level Manager1","Manager":{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000BHe7ZQAT"},"Manager":{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000BHcs9QAD"},"Manager":{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000BHcovQAD"},"Manager":{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/005gL00000BHcgrQAD"},"Name":"TopLevel Manager5"}}}}}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Sforce-Limit-Info:
          - api-usage=10/15000
        X-Sfdc-Edge-Cache:
          - MISS
        X-Sfdc-Request-Id:
          - abc123example
      status: 200 OK
      code: 200
      duration: 150.000000ms
