---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.my.salesforce.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Sforce-Query-Options:
          - batchSize=200
      url: https://test-instance.my.salesforce.com/services/data/v58.0/query?q=SELECT+Id,Name+FROM+User+ORDER+BY+Id+ASC
      method: GET
    response:
        - chunked
      body: '{"totalSize":3,"done":true,"records":[{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/0058Z000008hrrgQAA"},"Id":"0058Z000008hrrgQAA","Name":"SGNL Integration"},{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/0058Z000008opHuQAI"},"Id":"0058Z000008opHuQAI","Name":"Nick"},{"attributes":{"type":"User","url":"/services/data/v58.0/sobjects/User/0058Z000008szVuQAI"},"Id":"0058Z000008szVuQAI","Name":"Integration User"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Sforce-Limit-Info:
          - api-usage=13/15000
      status: 200 OK
      code: 200
      duration: 145.813154ms
