---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/devices?$select=id,physicalIds,deviceId&$top=3
      method: GET
    response:
        - chunked
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#devices(id,physicalIds,deviceId)","value":[{"id":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","physicalIds":["[USER-GID]:kkkkkkkk-llll-mmmm-nnnn-oooooooooooo:1111111111111111","[GID]:g:1111111111111111","[USER-HWID]:kkkkkkkk-llll-mmmm-nnnn-oooooooooooo:2222222222222222","[HWID]:h:2222222222222222"],"deviceId":"ffffffff-gggg-hhhh-iiii-jjjjjjjjjjjj"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"1","ScaleUnit":"004","RoleInstance":"MW2PEPF0000E059"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 154.950858ms
