---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/groups?$select=id&$top=1
      method: GET
    response:
        - chunked
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups(id)","@odata.nextLink":"https://graph.microsoft.com/v1.0/groups?$select=id&$top=1&$skiptoken=NEXTLINK_TOKEN_PLACEHOLDER","value":[{"id":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"1","ScaleUnit":"004","RoleInstance":"MW2PEPF0000E05F"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 96.36142ms
  - id: 1
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/groups/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/members?$select=id&$top=3
      method: GET
    response:
        - chunked
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects(id)","value":[{"@odata.type":"#microsoft.graph.user","id":"pppppppp-qqqq-rrrr-ssss-tttttttttttt"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"1","ScaleUnit":"004","RoleInstance":"MW2PEPF0000E05F"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 71.658703ms
