---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Consistencylevel:
          - eventual
      url: https://graph.microsoft.com/v1.0/groups?$select=id,displayName&$top=10&$filter=id+in+%28%27aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee%27%29&$count=true
      method: GET
    response:
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)","value":[{"id":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","displayName":"Canada"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"MWH0EPF000B1E09"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 109.934038ms
