---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/identityGovernance/privilegedAccess/group/assignmentScheduleRequests?$select=id,principalId,groupId,action&$top=3&$skip=0
      method: GET
    response:
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#identityGovernance/privilegedAccess/group/assignmentScheduleRequests(id,principalId,groupId,action)","value":[{"id":"example-request-1","status":"Provisioned","createdDateTime":"2023-02-07T07:05:53.7895614Z","completedDateTime":"2023-02-07T07:05:55.3404527Z","approvalId":"66666666-7777-8888-9999-000000000000","customData":null,"createdBy":{"user":{"id":"11111111-2222-3333-4444-555555555555"}},"action":"adminAssign","isValidationOnly":false,"justification":"Retrieve requests","scheduleInfo":{"startDateTime":"2023-02-07T06:57:55.6183972Z","recurrence":null,"expiration":{"type":"afterDateTime","endDateTime":"2023-02-07T19:56:00Z","duration":null}},"ticketInfo":{"ticketNumber":null,"ticketSystem":null},"principalId":"pppppppp-qqqq-rrrr-ssss-tttttttttttt","accessId":"member","groupId":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","targetScheduleId":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee_member_66666666-7777-8888-9999-000000000000"},{"id":"example-request-2","status":"Provisioned","createdDateTime":"2023-02-07T07:05:53.7895614Z","completedDateTime":"2023-02-07T07:05:55.3404527Z","approvalId":"66666666-7777-8888-9999-000000000000","customData":null,"createdBy":{"user":{"id":"11111111-2222-3333-4444-555555555555"}},"action":"adminAssign","isValidationOnly":false,"justification":"Retrieve requests","scheduleInfo":{"startDateTime":"2023-02-07T06[...]
