---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Consistencylevel:
          - eventual
      url: https://graph.microsoft.com/v1.0/groups?$select=id,displayName&$top=10&$filter=startswith%28displayName%2C+%27Test%27%29&$count=true
      method: GET
    response:
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups(id,displayName)","@odata.count":4,"value":[{"id":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","displayName":"Test Security Group 2"},{"id":"ffffffff-gggg-hhhh-iiii-jjjjjjjjjjjj","displayName":"Test Group 6"},{"id":"kkkkkkkk-llll-mmmm-nnnn-oooooooooooo","displayName":"Test Security Group"},{"id":"pppppppp-qqqq-rrrr-ssss-tttttttttttt","displayName":"Test Group 3"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"MWH0EPF00032B57"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 131.241837ms
