---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/groups?$select=id&$top=1&$filter=id+eq+%27aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee%27
      method: GET
    response:
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups(id)","value":[{"id":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"MW2PEPF000031CB"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 90.37314ms
  - id: 1
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Consistencylevel:
          - eventual
      url: https://graph.microsoft.com/v1.0/groups/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/members/microsoft.graph.user?$select=id&$top=4&$filter=department+eq+%27IT%2FIS%27&$count=true
      method: GET
    response:
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(id)","@odata.count":1,"value":[{"id":"pppppppp-qqqq-rrrr-ssss-tttttttttttt"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"MW2PEPF000031CB"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 113.943718ms
