---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/roleManagement/directory/roleAssignments?$select=id,principalId,roleDefinitionId&$top=3
      method: GET
    response:
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#roleManagement/directory/roleAssignments(id,principalId,roleDefinitionId)","value":[{"id":"role-assignment-id-1","principalId":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","roleDefinitionId":"62e90394-69f5-4237-9190-012177145e10"},{"id":"role-assignment-id-2","principalId":"ffffffff-gggg-hhhh-iiii-jjjjjjjjjjjj","roleDefinitionId":"62e90394-69f5-4237-9190-012177145e10"},{"id":"role-assignment-id-3","principalId":"kkkkkkkk-llll-mmmm-nnnn-oooooooooooo","roleDefinitionId":"62e90394-69f5-4237-9190-012177145e10"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"MWH0EPF0005A6B6"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 99.306629ms
