---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/roleManagement/directory/roleAssignmentScheduleRequests?$select=id,principalId,roleDefinitionId,action,justification&$top=3&$skip=3
      method: GET
    response:
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#roleManagement/directory/roleAssignmentScheduleRequests(id,principalId,roleDefinitionId,action,justification)","value":[{"id":"42f1f2ac-6a85-41bc-8dea-47e041036c07","action":"selfDeactivate","principalId":"pppppppp-qqqq-rrrr-ssss-tttttttttttt","roleDefinitionId":"cf1c38e5-3621-4004-a7cb-879624dced7c","justification":"Deactivation request"},{"id":"82a9d99b-6d13-4dfc-b173-958ef0ee0525","action":"selfDeactivate","principalId":"pppppppp-qqqq-rrrr-ssss-tttttttttttt","roleDefinitionId":"cf1c38e5-3621-4004-a7cb-879624dced7c","justification":"Deactivation request"},{"id":"8651181b-e433-4a53-8839-0bc85fe4a3a2","action":"selfDeactivate","principalId":"pppppppp-qqqq-rrrr-ssss-tttttttttttt","roleDefinitionId":"cf1c38e5-3621-4004-a7cb-879624dced7c","justification":"Deactivation request"}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"005","RoleInstance":"MWH0EPF0009ACAB"}}'
      status: 200 OK
      code: 200
      duration: 190.039873ms
