---
version: 2
interactions:
    - id: 0
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer {{OMITTED}}
        url: https://graph.microsoft.com/v1.0/directoryRoles?$select=id,displayName,description,roleTemplateId
        method: GET
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryRoles(id,displayName,description,roleTemplateId)","value":[{"id":"0fea7f0d-dea1-458d-9099-69fcc2e3cd42","displayName":"Directory Readers","description":"Can read basic directory information. Commonly used to grant directory read access to applications and guests.","roleTemplateId":"88d8e3e3-8f55-4a1e-953a-9b9898b8876b"},{"id":"18eacdf7-8db3-4028-8ce8-a686ec639d75","displayName":"Global Administrator","description":"Can manage all aspects of Microsoft Entra ID and Microsoft services that use Microsoft Entra identities.","roleTemplateId":"62e90394-69f5-4237-9190-012177145e10"},{"id":"321fd63c-c37c-4a77-bf46-ee0acd84476e","displayName":"Application Developer","description":"Can create application registrations independent of the ''Users can register applications'' setting.",[...]
[...]
