---
version: 2
interactions:
  - id: 0
    request:
      host: graph.microsoft.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
      url: https://graph.microsoft.com/v1.0/users?$select=id,displayName&$expand=manager($select=id)&$top=3&$filter=startswith%28displayName%2C%27N%27%29
      method: GET
    response:
        - chunked
      body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users(id,displayName,manager(id))","@odata.nextLink":"https://graph.microsoft.com/v1.0/users?$select=id%2cdisplayName&$expand=manager(%24select%3did)&$top=3&$filter=startswith(displayName%2c%27N%27)&$skiptoken=NEXTLINK_TOKEN_PLACEHOLDER","value":[{"id":"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee","displayName":"Nancy Barr"},{"id":"ffffffff-gggg-hhhh-iiii-jjjjjjjjjjjj","displayName":"Nancy Barton"},{"id":"kkkkkkkk-llll-mmmm-nnnn-oooooooooooo","displayName":"Nancy Bean","manager":{"@odata.type": "#microsoft.graph.user","id": "pppppppp-qqqq-rrrr-ssss-tttttttttttt"}}]}'
      headers:
        Content-Type:
          - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
        Odata-Version:
          - "4.0"
        X-Ms-Ags-Diagnostic:
          - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"1","ScaleUnit":"005","RoleInstance":"MWH0EPF0009ACA8"}}'
        X-Ms-Resource-Unit:
          - "1"
      status: 200 OK
      code: 200
      duration: 99.304374ms
