---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"sgnl-demo-cloud\") {\n\t\t\tid\n\t\t\trepositories (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes {\n\t\t\t\t\tid\n\t\t\t\t\tissues (first: 2) {\n\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t}\n\t\t\t\t\t\tnodes { author { login }, createdAt, id, isPinned, title }\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCPwuWw","repositories":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHOLLPodg==","hasNextPage":true},"nodes":[{"id":"R_kgDOLLPodg","issues":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK5MjAyNC0xMC0zMVQxOToyMjozNS0wNzowMM6cpqjR","hasNextPage":false},"nodes":[{"author":{"login":"leminhtri2805"},"createdAt":"2024-11-01T02:22:35Z","id":"I_kwDOLLPods6cpqjR","isPinned":false,"title":"Test1"}]}}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4894"
        X-Ratelimit-Reset:
          - "1731699718"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "106"
      status: 200 OK
      code: 200
      duration: 454.20979ms
