---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.com
      body: '{"query":"query {\n\t\tenterprise (slug: \"SGNL\") {\n\t\t\tid\n\t\t\torganizations (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes {\n\t\t\t\t\tid\n\t\t\t\t\trepositories (first: 1) {\n\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t}\n\t\t\t\t\t\tnodes {\n\t\t\t\t\t\t\tid\n\t\t\t\t\t\t\tissues (first: 2) {\n\t\t\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\tnodes { author { login }, createdAt, id, isPinned, title }\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://test-instance.com/api/graphql
      method: POST
    response:
      body: '{"data":{"enterprise":{"id":"MDEwOkVudGVycHJpc2Ux","organizations":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpKqQXJ2aW5kT3JnMQU=","hasNextPage":true},"nodes":[{"id":"MDEyOk9yZ2FuaXphdGlvbjU=","repositories":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpEB","hasNextPage":true},"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkx","issues":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpEE","hasNextPage":false},"nodes":[{"author":{"login":"arooxa"},"createdAt":"2024-03-15T18:40:52Z","id":"MDU6SXNzdWUz","isPinned":false,"title":"issue1"},{"author":{"login":"arooxa"},"createdAt":"2024-03-15T18:41:04Z","id":"MDU6SXNzdWU0","isPinned":false,"title":"issue2"}]}}]}}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-05-07 03:47:55 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Enterprise-Version:
          - 3.11.5
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:pre_receive_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, delete:packages, delete_repo, gist, notifications, project, repo, site_admin, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "5000"
        X-Ratelimit-Reset:
          - "1711065734"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "0"
      status: 200 OK
      code: 200
      duration: 265.09363ms
