---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"my-comp-1\") {\n\t\t\tid\n\t\t\trepositories (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes {\n\t\t\t\t\tid\n\t\t\t\t\tissues (first: 1) {\n\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t}\n\t\t\t\t\t\tnodes {\n\t\t\t\t\t\t\tid\n\t\t\t\t\t\t\tparticipants (first: 2) {\n\t\t\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\tnodes { id, login }\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCyN8bw","repositories":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHONOhZIQ==","hasNextPage":false},"nodes":[{"id":"R_kgDONOhZIQ","issues":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpK5MjAyNC0xMS0xNVQxMzozMDoyNS0wODowMM6evVu-","hasNextPage":false},"nodes":[{"id":"I_kwDONOhZIc6evVu-","participants":{"pageInfo":{"endCursor":"Mg","hasNextPage":false},"nodes":[{"id":"U_kgDOBwOdDw","login":"dhanya-sgnl"},{"id":"U_kgDOCuFvAA","login":"leminhtri2805"}]}}]}}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4985"
        X-Ratelimit-Reset:
          - "1731944183"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "15"
      status: 200 OK
      code: 200
      duration: 343.520738ms
