---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"dh-test-org-2\") {\n\t\t\tannouncement, announcementExpiresAt, announcementUserDismissible, anyPinnableItems, archivedAt, avatarUrl, createdAt, databaseId, description, descriptionHTML, email, id, ipAllowListEnabledSetting, isVerified, location, login, name, newTeamResourcePath, newTeamUrl, organizationBillingEmail, pinnedItemsRemaining, projectsResourcePath, projectsUrl, requiresTwoFactorAuthentication, resourcePath, teamsResourcePath, teamsUrl, twitterUsername, updatedAt, url, viewerCanAdminister, viewerCanChangePinnedItems, viewerCanCreateProjects, viewerCanCreateRepositories, viewerCanCreateTeams, viewerIsAMember, websiteUrl \n\t\t}\n\t}"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"announcement":null,"announcementExpiresAt":null,"announcementUserDismissible":null,"anyPinnableItems":true,"archivedAt":null,"avatarUrl":"","createdAt":"2024-11-13T03:10:21Z","databaseId":188285299,"description":null,"descriptionHTML":"<div></div>","email":null,"id":"O_kgDOCzkBcw","ipAllowListEnabledSetting":"DISABLED","isVerified":false,"location":null,"login":"dh-test-org-2","name":"dh-test-org-2","newTeamResourcePath":"/orgs/dh-test-org-2/new-team","newTeamUrl":"https://github.com/orgs/dh-test-org-2/new-team","organizationBillingEmail":"dhanya@sgnl.ai","pinnedItemsRemaining":6,"projectsResourcePath":"/orgs/dh-test-org-2/projects","projectsUrl":"https://github.com/orgs/dh-test-org-2/projects","requiresTwoFactorAuthentication":false,"resourcePath":"/dh-test-org-2","teamsResourcePath":"/orgs/dh-test-org-2/teams","teamsUrl":"https://github.com/orgs/dh-test-org-2/teams","twitterUsername":null,"updatedAt":"2024-11-15T00:43:08Z","url":"https://github.com/dh-test-org-2","viewerCanAdminister":true,"viewerCanChangePinnedItems":true,"viewerCanCreateProjects":true,"viewerCanCreateRepositories":true,"viewerCanCreateTeams":true,"viewerIsAMember":true,"websiteUrl":null}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4891"
        X-Ratelimit-Reset:
          - "1731966295"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "109"
      status: 200 OK
      code: 200
      duration: 256.839064ms
