---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.com
      body: '{"query":"query {\n        enterprise (slug: \"SGNL\") {\n            id\n            organizations (first: 1) {\n                pageInfo {\n                    endCursor\n                    hasNextPage\n                }\n\t\t\t\tnodes { createdAt, databaseId, email, id, login, updatedAt, viewerCanCreateTeams, viewerIsAMember }\n            }\n        }\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://test-instance.com/api/graphql
      method: POST
    response:
      body: '{"data":{"enterprise":{"id":"MDEwOkVudGVycHJpc2Ux","organizations":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpKqQXJ2aW5kT3JnMQU=","hasNextPage":true},"nodes":[{"createdAt":"2024-03-08T04:18:55Z","databaseId":5,"email":null,"id":"MDEyOk9yZ2FuaXphdGlvbjU=","login":"ArvindOrg1","updatedAt":"2024-03-08T04:18:55Z","viewerCanCreateTeams":true,"viewerIsAMember":true}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-05-07 03:47:55 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Enterprise-Version:
          - 3.11.5
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:pre_receive_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, delete:packages, delete_repo, gist, notifications, project, repo, site_admin, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "5000"
        X-Ratelimit-Reset:
          - "1710897420"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "0"
      status: 200 OK
      code: 200
      duration: 198.762192ms
  - id: 1
    request:
      host: test-instance.com
      body: '{"query":"query {\n        organization (login: \"ArvindOrg1\") {\n\t\t\tid\n            membersWithRole (first: 2) {\n                pageInfo {\n\t\t\t\t\tendCursor\n                    hasNextPage\n                }\n\t\t\t\tedges { node { id, organizationVerifiedDomainEmails (login: \"ArvindOrg1\") }, role }\n            }\n        }\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://test-instance.com/api/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"MDEyOk9yZ2FuaXphdGlvbjU=","membersWithRole":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpEJ","hasNextPage":false},"edges":[{"node":{"id":"MDQ6VXNlcjQ=","organizationVerifiedDomainEmails":["arvind@sgnldemos.com"]},"role":"ADMIN"},{"node":{"id":"MDQ6VXNlcjk=","organizationVerifiedDomainEmails":["isabella@sgnldemos.com"]},"role":"MEMBER"}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-05-07 03:47:55 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Enterprise-Version:
          - 3.11.5
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:pre_receive_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, delete:packages, delete_repo, gist, notifications, project, repo, site_admin, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "5000"
        X-Ratelimit-Reset:
          - "1710897420"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "0"
      status: 200 OK
      code: 200
      duration: 135.084986ms
