---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n        organization (login: \"dh-test-org-2\") {\n\t\t\tid\n            membersWithRole (first: 2) {\n                pageInfo {\n\t\t\t\t\tendCursor\n                    hasNextPage\n                }\n\t\t\t\tedges { node { id, organizationVerifiedDomainEmails (login: \"dh-test-org-2\") }, role }\n            }\n        }\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCzkBcw","membersWithRole":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHOBwOdDw==","hasNextPage":true},"edges":[{"node":{"id":"MDQ6VXNlcjM5MTM0NDM0","organizationVerifiedDomainEmails":[]},"role":"MEMBER"},{"node":{"id":"U_kgDOBwOdDw","organizationVerifiedDomainEmails":[]},"role":"ADMIN"}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4987"
        X-Ratelimit-Reset:
          - "1731981055"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "13"
      status: 200 OK
      code: 200
      duration: 262.660423ms
