---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.com
      body: '{"query":"query {\n        enterprise (slug: \"SGNL\") {\n            id\n            organizations (first: 1) {\n                pageInfo {\n                    endCursor\n                    hasNextPage\n                }\n\t\t\t\tnodes { announcement, announcementExpiresAt, announcementUserDismissible, anyPinnableItems, archivedAt, avatarUrl, createdAt, databaseId, description, descriptionHTML, email, id, ipAllowListEnabledSetting, isVerified, location, login, name, newTeamResourcePath, newTeamUrl, organizationBillingEmail, pinnedItemsRemaining, projectsResourcePath, projectsUrl, requiresTwoFactorAuthentication, resourcePath, teamsResourcePath, teamsUrl, twitterUsername, updatedAt, url, viewerCanAdminister, viewerCanChangePinnedItems, viewerCanCreateProjects, viewerCanCreateRepositories, viewerCanCreateTeams, viewerIsAMember, websiteUrl }\n            }\n        }\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://test-instance.com/api/graphql
      method: POST
    response:
      body: '{"data":{"enterprise":{"id":"MDEwOkVudGVycHJpc2Ux","organizations":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpKqQXJ2aW5kT3JnMQU=","hasNextPage":true},"nodes":[{"announcement":null,"announcementExpiresAt":null,"announcementUserDismissible":null,"anyPinnableItems":false,"archivedAt":null,"avatarUrl":"","createdAt":"2024-03-08T04:18:55Z","databaseId":5,"description":null,"descriptionHTML":"<div></div>","email":null,"id":"MDEyOk9yZ2FuaXphdGlvbjU=","ipAllowListEnabledSetting":"DISABLED","isVerified":false,"location":null,"login":"ArvindOrg1","name":"ArvindOrg1","newTeamResourcePath":"/orgs/ArvindOrg1/new-team","newTeamUrl":"https://test-instance.com/orgs/ArvindOrg1/new-team","organizationBillingEmail":null,"pinnedItemsRemaining":6,"projectsResourcePath":"/orgs/ArvindOrg1/projects","projectsUrl":"https://test-instance.com/orgs/ArvindOrg1/projects","requiresTwoFactorAuthentication":false,"resourcePath":"/ArvindOrg1","teamsResourcePath":"/orgs/ArvindOrg1/teams","teamsUrl":"https://test-instance.com/orgs/ArvindOrg1/teams","twitterUsername":null,"updatedAt":"2024-03-08T04:18:55Z","url":"https://test-instance.com/ArvindOrg1","viewerCanAdminister":true,"viewerCanChangePinnedItems":true,"viewerCanCreateProjects":true,"viewerCanCreateRepositories":true,"viewerCanCreateTeams":true,"viewerIsAMember":true,"websiteUrl":null}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-05-07 03:47:55 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Enterprise-Version:
          - 3.11.5
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:pre_receive_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, delete:packages, delete_repo, gist, notifications, project, repo, site_admin, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "5000"
        X-Ratelimit-Reset:
          - "1710897500"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "0"
      status: 200 OK
      code: 200
      duration: 228.255771ms
