---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"dh-test-org-2\") {\n\t\t\tid\n\t\t\trepositories (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes {\n\t\t\t\t\tid\n\t\t\t\t\tpullRequests (first: 1) {\n\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t}\n\t\t\t\t\t\tnodes { author { login }, baseRepository { id }, closed, createdAt, headRepository { id }, id, title }\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCzkBcw","repositories":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHONOhh5Q==","hasNextPage":true},"nodes":[{"id":"R_kgDONOhh5Q","pullRequests":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHOgfxUwQ==","hasNextPage":true},"nodes":[{"author":{"login":"dhanya-sgnl"},"baseRepository":{"id":"R_kgDONOhh5Q"},"closed":true,"createdAt":"2024-11-15T00:22:36Z","headRepository":{"id":"R_kgDONOhh5Q"},"id":"PR_kwDONOhh5c6B_FTB","title":"Added a file."}]}}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4890"
        X-Ratelimit-Reset:
          - "1731706954"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "110"
      status: 200 OK
      code: 200
      duration: 403.914684ms
