---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.com
      body: '{"query":"query {\n\t\tenterprise (slug: \"SGNL\") {\n\t\t\tid\n\t\t\torganizations (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes {\n\t\t\t\t\tid\n\t\t\t\t\trepositories (first: 1) {\n\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t}\n\t\t\t\t\t\tnodes {\n\t\t\t\t\t\t\tid\n\t\t\t\t\t\t\tpullRequests (first: 1) {\n\t\t\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\tnodes {\n\t\t\t\t\t\t\t\t\tid\n\t\t\t\t\t\t\t\t\tcommits (first: 4) {\n\t\t\t\t\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t\t\tnodes { commit { author { email, user { id, login } }, committedDate, id }, id }\n\t\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://test-instance.com/api/graphql
      method: POST
    response:
      body: '{"data":{"enterprise":{"id":"MDEwOkVudGVycHJpc2Ux","organizations":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpKqQXJ2aW5kT3JnMQU=","hasNextPage":true},"nodes":[{"id":"MDEyOk9yZ2FuaXphdGlvbjU=","repositories":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpEB","hasNextPage":true},"nodes":[{"id":"MDEwOlJlcG9zaXRvcnkx","pullRequests":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpEB","hasNextPage":true},"nodes":[{"id":"MDExOlB1bGxSZXF1ZXN0MQ==","commits":{"pageInfo":{"endCursor":"MQ","hasNextPage":false},"nodes":[{"commit":{"author":{"email":"arvind@sgnl.ai","user":{"id":"MDQ6VXNlcjQ=","login":"arooxa"}},"committedDate":"2024-03-13T23:07:39Z","id":"MDY6Q29tbWl0MTo0YWNkMDEzNTJkNTZjYTMzMTA1ZmMyMjU4ZDFmMTI4NzZmMzhlZjRh"},"id":"MDE3OlB1bGxSZXF1ZXN0Q29tbWl0MTo0YWNkMDEzNTJkNTZjYTMzMTA1ZmMyMjU4ZDFmMTI4NzZmMzhlZjRh"}]}}]}}]}}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-05-07 03:47:55 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Enterprise-Version:
          - 3.11.5
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:pre_receive_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, delete:packages, delete_repo, gist, notifications, project, repo, site_admin, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "5000"
        X-Ratelimit-Reset:
          - "1711584125"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "0"
      status: 200 OK
      code: 200
      duration: 369.638723ms
