---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"dh-test-org-2\") {\n\t\t\tid\n\t\t\trepositories (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes {\n\t\t\t\t\tid\n\t\t\t\t\tpullRequests (first: 1) {\n\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t}\n\t\t\t\t\t\tnodes {\n\t\t\t\t\t\t\tid\n\t\t\t\t\t\t\tcommits (first: 4) {\n\t\t\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t\tnodes { commit { author { email, user { id, login } }, committedDate, id }, id }\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCzkBcw","repositories":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHONOhh5Q==","hasNextPage":true},"nodes":[{"id":"R_kgDONOhh5Q","pullRequests":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHOgfxUwQ==","hasNextPage":true},"nodes":[{"id":"PR_kwDONOhh5c6B_FTB","commits":{"pageInfo":{"endCursor":"MQ","hasNextPage":false},"nodes":[{"commit":{"author":{"email":"117677327+dhanya-sgnl@users.noreply.github.com","user":{"id":"U_kgDOBwOdDw","login":"dhanya-sgnl"}},"committedDate":"2024-11-15T00:22:22Z","id":"C_kwDONOhh5doAKGRlOWQ2YzBiZDczZGVhNmEzY2EzYjk5ZWRjOTNhMjViN2M0ZTAzNjk"},"id":"PURC_lADONOhh5c6B_FTB2gAoZGU5ZDZjMGJkNzNkZWE2YTNjYTNiOTllZGM5M2EyNWI3YzRlMDM2OQ"}]}}]}}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4889"
        X-Ratelimit-Reset:
          - "1731710692"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "111"
      status: 200 OK
      code: 200
      duration: 398.714776ms
