---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"dh-test-org-2\") {\n\t\t\tid\n\t\t\trepositories (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes { allowUpdateBranch, collaborators { edges { node { id }, permission } }, createdAt, databaseId, id, name, pushedAt }\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCzkBcw","repositories":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHONOhh5Q==","hasNextPage":false},"nodes":[{"allowUpdateBranch":false,"collaborators":{"edges":[{"node":{"id":"U_kgDOBwOdDw"},"permission":"ADMIN"}]},"createdAt":"2024-11-13T03:10:55Z","databaseId":887644645,"id":"R_kgDONOhh5Q","name":"repo-1","pushedAt":"2024-11-13T03:11:44Z"}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2025-02-10 14:50:30 -0800
        X-Github-Media-Type:
          - github.v4; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4900"
        X-Ratelimit-Reset:
          - "1731468164"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "100"
      status: 200 OK
      code: 200
      duration: 360.178064ms
