---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"dh-test-org-2\") {\n\t\t\t\tid\n\t\t\t\tteams (first: 1) {\n\t\t\t\t\tpageInfo {\n\t\t\t\t\t\tendCursor\n\t\t\t\t\t\thasNextPage\n\t\t\t\t\t}\n\t\t\t\t\tnodes { createdAt, databaseId, id, members { edges { node { createdAt, databaseId, email, id, isViewer, login, updatedAt }, role } }, repositories { edges { node { allowUpdateBranch, createdAt, databaseId, id, name, pushedAt, url }, permission } }, slug, updatedAt, viewerCanAdminister }\n\t\t\t\t}\n\t\t\t}\n\t\t}"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCzkBcw","teams":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpMCqXRlYW0tZGgtMc4AsE5r","hasNextPage":true},"nodes":[{"createdAt":"2024-11-15T00:00:05Z","databaseId":11554411,"id":"T_kwDOCzkBc84AsE5r","members":{"edges":[{"node":{"createdAt":"2022-11-07T18:20:50Z","databaseId":117677327,"email":"","id":"U_kgDOBwOdDw","isViewer":true,"login":"dhanya-sgnl","updatedAt":"2024-11-15T01:27:58Z"},"role":"MAINTAINER"},{"node":{"createdAt":"2023-02-21T18:25:37Z","databaseId":126013561,"email":"","id":"U_kgDOB4LQeQ","isViewer":false,"login":"isabella-sgnl","updatedAt":"2024-10-02T22:57:26Z"},"role":"MEMBER"},{"node":{"createdAt":"2024-09-23T17:16:43Z","databaseId":182546176,"email":"","id":"U_kgDOCuFvAA","isViewer":false,"login":"leminhtri2805","updatedAt":"2024-10-07T16:58:04Z"},"role":"MEMBER"}]},"repositories":{"edges":[]},"slug":"team-dh-1","updatedAt":"2024-11-15T00:00:05Z","viewerCanAdminister":true}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4971"
        X-Ratelimit-Reset:
          - "1731637182"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "29"
      status: 200 OK
      code: 200
      duration: 390.550004ms
