---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.com
      body: '{"query":"query {\n\t\tenterprise (slug: \"SGNL\") {\n\t\t\tid\n\t\t\torganizations (first: 1) {\n\t\t\t\tpageInfo {\n\t\t\t\t\tendCursor\n\t\t\t\t\thasNextPage\n\t\t\t\t}\n\t\t\t\tnodes {\n\t\t\t\t\tid\n\t\t\t\t\tteams (first: 1) {\n\t\t\t\t\t\tpageInfo {\n\t\t\t\t\t\t\tendCursor\n\t\t\t\t\t\t\thasNextPage\n\t\t\t\t\t\t}\n\t\t\t\t\t\tnodes { createdAt, databaseId, id, members { edges { node { createdAt, databaseId, email, id, isViewer, login, updatedAt }, role } }, repositories { edges { node { allowUpdateBranch, createdAt, databaseId, id, name, pushedAt, url }, permission } }, slug, updatedAt, viewerCanAdminister }\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n    }"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://test-instance.com/api/graphql
      method: POST
    response:
      body: '{"data":{"enterprise":{"id":"MDEwOkVudGVycHJpc2Ux","organizations":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpKqQXJ2aW5kT3JnMQU=","hasNextPage":true},"nodes":[{"id":"MDEyOk9yZ2FuaXphdGlvbjU=","teams":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpMCpXRlYW0xAQ==","hasNextPage":false},"nodes":[{"createdAt":"2024-03-08T18:48:56Z","databaseId":1,"id":"MDQ6VGVhbTE=","members":{"edges":[{"node":{"createdAt":"2024-03-08T04:18:47Z","databaseId":4,"email":"","id":"MDQ6VXNlcjQ=","isViewer":true,"login":"arooxa","updatedAt":"2024-03-08T04:18:47Z"},"role":"MAINTAINER"},{"node":{"createdAt":"2024-03-08T17:52:21Z","databaseId":9,"email":"","id":"MDQ6VXNlcjk=","isViewer":false,"login":"isabella-sgnl","updatedAt":"2024-03-08T19:28:13Z"},"role":"MEMBER"}]},"repositories":{"edges":[{"node":{"allowUpdateBranch":false,"createdAt":"2024-03-08T18:51:43Z","databaseId":2,"id":"MDEwOlJlcG9zaXRvcnky","name":"repo2","pushedAt":"2024-03-16T21:18:14Z","url":"https://test-instance.com/ArvindOrg1/repo2"},"permission":"WRITE"}]},"slug":"team1","updatedAt":"2024-03-08T18:48:56Z","viewerCanAdminister":true}]}}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-05-07 03:47:55 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Enterprise-Version:
          - 3.11.5
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:pre_receive_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, delete:packages, delete_repo, gist, notifications, project, repo, site_admin, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "5000"
        X-Ratelimit-Reset:
          - "1710895763"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "0"
      status: 200 OK
      code: 200
      duration: 305.424867ms
