---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: '{"query":"query {\n\t\torganization (login: \"dh-test-org-2\") {\n\t\t\t\tid\n\t\t\t\tmembersWithRole (first: 3) {\n\t\t\t\t\tpageInfo {\n\t\t\t\t\t\tendCursor\n\t\t\t\t\t\thasNextPage\n\t\t\t\t\t}\n\t\t\t\t\tnodes { createdAt, databaseId, email, id, isViewer, login, updatedAt }\n\t\t\t\t}\n\t\t\t}\n\t\t}"}'
      form: {}
      headers:
        Authorization:
          - Bearer {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"organization":{"id":"O_kgDOCzkBcw","membersWithRole":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHOCuFvAA==","hasNextPage":false},"nodes":[{"createdAt":"2022-11-07T18:20:50Z","databaseId":117677327,"email":"","id":"U_kgDOBwOdDw","isViewer":true,"login":"dhanya-sgnl","updatedAt":"2024-11-15T16:57:07Z"},{"createdAt":"2023-02-21T18:25:37Z","databaseId":126013561,"email":"","id":"U_kgDOB4LQeQ","isViewer":false,"login":"isabella-sgnl","updatedAt":"2024-10-02T22:57:26Z"},{"createdAt":"2024-09-23T17:16:43Z","databaseId":182546176,"email":"","id":"U_kgDOCuFvAA","isViewer":false,"login":"leminhtri2805","updatedAt":"2024-10-07T16:58:04Z"}]}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Github-Authentication-Token-Expiration:
          - 2024-12-15 01:29:41 UTC
        X-Accepted-Oauth-Scopes:
          - repo
        X-Github-Media-Type:
          - github.v4; format=json
        X-Oauth-Scopes:
          - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4951"
        X-Ratelimit-Reset:
          - "1731692450"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "49"
      status: 200 OK
      code: 200
      duration: 467.981335ms
