---
version: 2
interactions:
  - id: 0
    request:
      host: api.bamboohr.com
      body: '{"fields":["id","bestEmail","dateOfBirth","fullName1","isPhotoUploaded","customcustomBoolField","supervisorEId","supervisorEmail","lastChanged"]}'
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.bamboohr.com/api/gateway.php/sgnltestdev/v1/reports/custom?format=JSON&onlyCurrent=true
      method: POST
    response:
      body: '{"title":"Report","fields":[{"id":"id","type":"int","name":"EEID"},{"id":"bestEmail","type":"email","name":"Email"},{"id":"dateOfBirth","type":"date","name":"Birth Date"},{"id":"fullName1","type":"text","name":"First Name Last Name"},{"id":"isPhotoUploaded","type":"bool","name":"Is employee photo uploaded"},{"id":"customcustomBoolField","type":"checkbox","name":"customBoolField"},{"id":"supervisorEId","type":"text","name":"Supervisor EID"},{"id":"supervisorEmail","type":"email","name":"Manager''s email"},{"id":"lastChanged","type":"timestamp","name":"Last changed"}],"employees":[{"id":"4","bestEmail":"cabbott@efficientoffice.com","dateOfBirth":"1996-09-02","fullName1":"Charlotte Abbott","isPhotoUploaded":"true","customcustomBoolField":"0","supervisorEId":"9","supervisorEmail":"jcaldwell@efficientoffice.com","lastChanged":"2024-04-12T19:33:50+00:00"},{"id":"5","bestEmail":"aadams@efficientoffice.com","dateOfBirth":"1983-06-30","fullName1":"Ashley Adams","isPhotoUploaded":"true","customcustomBoolField":"0","supervisorEId":"9","supervisorEmail":"jcaldwell@efficientoffice.com","lastChanged":"2024-04-12T19:33:50+00:00"},{"id":"6","bestEmail":"cagluinda@efficientoffice.com","dateOfBirth":"1996-08-27","fullName1":"Christina Agluinda","isPhotoUploaded":"true","customcustomBoolField":"0","supervisorEId":"9","supervisorEm[...]
