---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS {{OMITTED}}
        Content-Type:
          - application/json;okta-response=omitCredentials,omitCredentialsLinks
      url: https://test-instance.okta.com/api/v1/apps?limit=3
      method: GET
    response:
      body: '[{"id":"0oav0szjt4RXG5wFN697","orn":"orn:okta:idp:00ov0szjsuWEizmLm697:apps:saasure:0oav0szjt4RXG5wFN697","name":"saasure","label":"Okta Admin Console","status":"ACTIVE","lastUpdated":"2025-09-01T17:06:17.000Z","created":"2025-09-01T17:06:16.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"admin":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"M2P5Afo_Vy3I7ncFsq8XEnFNOR0OWYgcPskiZHefzRg"}},"universalLogout":{"status":"UNSUPPORTED"},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false},"_links":{"uploadLogo":{"href":"https://integrator-4205589.okta.com/api/v1/apps/0oav0szjt4RXG5wFN697/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"admin","href":"https://integrator-4205589.okta.com/home/saasure/0oav0szjt4RXG5wFN697/2","type":"text/html"}],"profileEnrollment":{"href":"https://integrator-4205589.okta.com/api/v1/policies/rstv0t9st8RgT5FjO697"},"policies":{"href":"https://integrator-4205589.okta.com/api/v1/apps/0oav0szjt4RXG5wFN697/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://integrator-4205589.okta.com/api/v1/apps/0oav0szjt4RXG5wFN697/groups"},"logo":[{"name":"medium","href":"https://ok14static.oktacdn.com/assets/img/logos/okta_admin_app.da3325676d57eaf566cb786dd0c7a819.png","type":"image/png"}],"accessPolicy":{"href":"https://integrator-4205589.okta.com/api/v1/policies/rstv0t9sslSlsbtgF697"},"users":{"href":"https://integrator-4205589.okta.com/api/v1/apps/0oav0szjt4RXG5wFN697/users"},"deactivate":{"href":"https://integrator-4205589.okta.com/api/v1/apps/0oav0szjt4RXG5wFN697/lifecycle/deactivate"}}},{"id":"0oav0t9spdHM3sWaO697","orn":"orn:okta:idp:00ov0szjsuWEizmLm697:apps:okta_enduser:0oav0t9spdHM3sWaO697","name":"okta_enduser","label":"Okta Dashboard","status":"ACTIVE","lastUpdated":"2025-09-01T17:06:17.000Z","created":"2025-09-01T17:06:17.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoSubmitToolbar":false,"hide":{"iOS":fals[...]
