---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS {{OMITTED}}
        Content-Type:
          - application/json;okta-response=omitCredentials,omitCredentialsLinks
      url: https://test-instance.okta.com/api/v1/groups?filter=type+eq+%22OKTA_GROUP%22+or+type+eq+%22APP_GROUP%22&limit=3
      method: GET
    response:
      body: '[{"id":"00gcwqjuvsA6o7BIQ5d7","created":"2023-10-23T21:12:04.000Z","lastUpdated":"2023-10-23T21:12:04.000Z","lastMembershipUpdated":"2023-10-23T21:12:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Admins","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://test-instance.okta.com/api/v1/groups/00gcwqjuvsA6o7BIQ5d7/users"},"apps":{"href":"https://test-instance.okta.com/api/v1/groups/00gcwqjuvsA6o7BIQ5d7/apps"}}},{"id":"00gcwh6k5xmXRfTos5d7","created":"2023-10-23T16:45:26.000Z","lastUpdated":"2023-10-23T16:45:26.000Z","lastMembershipUpdated":"2023-10-23T16:46:14.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Developers","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.pn[...]
