---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS {{OMITTED}}
        Content-Type:
          - application/json;okta-response=omitCredentials,omitCredentialsLinks
      url: https://test-instance.okta.com/api/v1/groups?filter=type+eq+%22OKTA_GROUP%22+or+type+eq+%22APP_GROUP%22&limit=1
      method: GET
    response:
      body: '[{"id":"00gcwh6k5xmXRfTos5d7","created":"2023-10-23T21:12:04.000Z","lastUpdated":"2023-10-23T21:12:04.000Z","lastMembershipUpdated":"2023-10-23T21:12:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"Admins","description":null},"_links":{"logo":[{"name":"medium","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://ok12static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://test-instance.okta.com/api/v1/groups/00gcwqjuvsA6o7BIQ5d7/users"},"apps":{"href":"https://test-instance.okta.com/api/v1/groups/00gcwqjuvsA6o7BIQ5d7/apps"}}}]'
      headers:
        Content-Type:
          - application/json
        Link:
          - <https://test-instance.okta.com/api/v1/groups?limit=1&filter=type+eq+%22OKTA_GROUP%22+or+type+eq+%22APP_GROUP%22>; rel="self"
          - <https://test-instance.okta.com/api/v1/groups?after=00gcwh6k5xmXRfTos5d7&limit=1&filter=type+eq+%22OKTA_GROUP%22+or+type+eq+%22APP_GROUP%22>; rel="next"
        Public-Key-Pins-Report-Only:
          - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
        X-Okta-Request-Id:
          - ZTbk7JRThrtPP7apGA7MJgAAArU
        X-Rate-Limit-Limit:
          - "50"
        X-Rate-Limit-Remaining:
          - "49"
        X-Rate-Limit-Reset:
          - "1698096424"
      status: 200 OK
      code: 200
      duration: 146.470068ms
  - id: 1
    request:
      host: test-instance.okta.com
      body: ""
      form: {}
      headers:
        Authorization:
          - SSWS {{OMITTED}}
        Content-Type:
          - application/json;okta-response=omitCredentials,omitCredentialsLinks
      url: https://test-instance.okta.com/api/v1/groups/00gcwh6k5xmXRfTos5d7/users?limit=3
      method: GET
    response:
      body: '[{"id":"00u9guv7o2OwqGqSI5d7","status":"ACTIVE","created":"2023-05-09T20:43:43.000Z","activated":null,"statusChanged":"2023-05-09T22:20:42.000Z","lastLogin":"2023-10-23T20:55:59.000Z","lastUpdated":"2023-05-09T22:20:42.000Z","passwordChanged":"2023-05-09T22:20:42.000Z","type":{"id":"oty9gusvclZCIBrRV5d7"},"profile":{"firstName":"Nick","lastName":"","mobilePhone":null,"secondEmail":null,"login":"nick@sgnl.ai","email":"nick@sgnl.ai"},"credentials":{"password":{},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test-instance.okta.com/api/v1/users/00u9guv7o2OwqGqSI5d7"}}},{"id":"00uabig334Y6bdCWr5d7","status":"STAGED","created":"2023-07-10T23:22:23.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-10T23:22:23.000Z","passwordChanged":null,"type":{"id":"oty9gusvclZCIBrRV5d7"},"profile":{"firstName":"Micheal","lastName":"Scott","mobilePhone":null,"secondEmail":null,"login":"nick+mscott@sgnl.ai","email":"nick+mscott@sgnl.ai"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test-instance.okta.com/api/v1/users/00uabig334Y6bdCWr5d7"}}},{"id":"00uabigku0fl1RxTT5d7","status":"PROVISIONED","created":"2023-07-10T23:22:39.000Z","activated":"2023-07-10T23:22:39.000Z","statusChanged":"2023-07-10T23:22:39.000Z","lastLogin":null,"lastUpdated":"2023-07-11T14:14:13.000Z","passwordChanged":null,"type":{"id":"oty9gusvclZCIBrRV5d7"},"profile":{"firstName":"Pam","lastName":"Beasly","manager":"nick+mscott@sgnl.ai","mobilePhone":null,"secondEmail":null,"managerId":"00uabig334Y6bdCWr5d7","login":"nick+pbeasly@sgnl.ai","email":"nick+pbeasly@sgnl.ai"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://test-instance.okta.com/api/v1/users/00uabigku0fl1RxTT5d7"}}}]'
      headers:
        Content-Type:
          - application/json
        Link:
          - <https://test-instance.okta.com/api/v1/groups/00gcwqjuvsA6o7BIQ5d7/users?limit=3>; rel="self"
        Public-Key-Pins-Report-Only:
          - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ="; pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg="; max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
        X-Okta-Request-Id:
          - ZTbk7UK9wLrWZZkr4tsOTwAADZs
        X-Rate-Limit-Limit:
          - "50"
        X-Rate-Limit-Remaining:
          - "48"
        X-Rate-Limit-Reset:
          - "1698096424"
      status: 200 OK
      code: 200
      duration: 56.35749ms
