---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_group?sysparm_fields=sys_id&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=sys_id%3D0270c251c3200200be647bfaa2d3aea6%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"0270c251c3200200be647bfaa2d3aea6"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "1"
        X-Transaction-Id:
          - c7b770656bf1
      status: 200 OK
      code: 200
      duration: 74.72709ms
  - id: 1
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,user.sys_id&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=2
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"42ad2be0c3c782103e3f7fd9d0013185","user.sys_id":"5b00ab008737c910793a97983cbb354a"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Link:
          - <https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,user.sys_id&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=0>;rel="first",<https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,user.sys_id&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=1>;rel="prev",<https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,user.sys_id&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=3>;rel="next",<https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,user.sys_id&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=5>;rel="last"
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "6"
        X-Transaction-Id:
          - 4bb738a520f1
      status: 200 OK
      code: 200
      duration: 72.404629ms
  - id: 2
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/change_task?sysparm_fields=sys_id,assigned_to&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=assigned_toIN5b00ab008737c910793a97983cbb354a%5EORDERBYsys_id&sysparm_offset=1
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"e4bc44a0c339d6103e3f7fd9d00131ab","assigned_to":"5b00ab008737c910793a97983cbb354a"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Link:
          - <https://test-instance.service-now.com/api/now/v2/table/change_task?sysparm_fields=sys_id,assigned_to&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=assigned_toIN5b00ab008737c910793a97983cbb354a%5EORDERBYsys_id&sysparm_offset=0>;rel="first",<https://test-instance.service-now.com/api/now/v2/table/change_task?sysparm_fields=sys_id,assigned_to&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=assigned_toIN5b00ab008737c910793a97983cbb354a%5EORDERBYsys_id&sysparm_offset=0>;rel="prev",<https://test-instance.service-now.com/api/now/v2/table/change_task?sysparm_fields=sys_id,assigned_to&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=assigned_toIN5b00ab008737c910793a97983cbb354a%5EORDERBYsys_id&sysparm_offset=1>;rel="last"
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "2"
        X-Transaction-Id:
          - 53b7bc6560f1
      status: 200 OK
      code: 200
      duration: 74.566431ms
