---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_group?sysparm_fields=sys_id&sysparm_exclude_reference_link=true&sysparm_limit=10&sysparm_query=sys_id%3D0270c251c3200200be647bfaa2d3aea6%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"0270c251c3200200be647bfaa2d3aea6"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "1"
        X-Transaction-Id:
          - abb7f0ed8ec5
      status: 200 OK
      code: 200
      duration: 69.687592ms
  - id: 1
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,user.sys_id&sysparm_exclude_reference_link=true&sysparm_limit=10&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"02ad2be0c3c782103e3f7fd9d0013189","user.sys_id":"b2459a268727d110b8137448dabb350a"},{"sys_id":"0d5ba026c33992102177bc159901318d","user.sys_id":"53eae4e2c33992102177bc159901317f"},{"sys_id":"42ad2be0c3c782103e3f7fd9d0013185","user.sys_id":"5b00ab008737c910793a97983cbb354a"},{"sys_id":"5b5fffe4c38bc6102177bc1599013133","user.sys_id":"ab00ab008737c910793a97983cbb354d"},{"sys_id":"719eeb24c3c782103e3f7fd9d0013156","user.sys_id":"1f00ab008737c910793a97983cbb3544"},{"sys_id":"8ead2be0c3c782103e3f7fd9d001318a","user.sys_id":"51104a4987e035d0793a97983cbb35c7"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "6"
        X-Transaction-Id:
          - 37b7f0a5b7f1
      status: 200 OK
      code: 200
      duration: 78.719261ms
  - id: 2
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/change_task?sysparm_fields=sys_id,assigned_to&sysparm_exclude_reference_link=true&sysparm_limit=10&sysparm_query=assigned_toINb2459a268727d110b8137448dabb350a%2C53eae4e2c33992102177bc159901317f%2C5b00ab008737c910793a97983cbb354a%2Cab00ab008737c910793a97983cbb354d%2C1f00ab008737c910793a97983cbb3544%2C51104a4987e035d0793a97983cbb35c7%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"4d025d2cc37dd6103e3f7fd9d001315e","assigned_to":"5b00ab008737c910793a97983cbb354a"},{"sys_id":"e4bc44a0c339d6103e3f7fd9d00131ab","assigned_to":"5b00ab008737c910793a97983cbb354a"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "2"
        X-Transaction-Id:
          - 77b7b8eddfc5
      status: 200 OK
      code: 200
      duration: 72.377365ms
