---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_group?sysparm_fields=sys_id&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=sys_id%3D0270c251c3200200be647bfaa2d3aea6%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"0270c251c3200200be647bfaa2d3aea6"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "1"
        X-Transaction-Id:
          - a456f4a198f1
      status: 200 OK
      code: 200
      duration: 64.07971ms
  - id: 1
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,first_name,user.sys_id,user.first_name&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=4
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"719eeb24c3c782103e3f7fd9d0013156","user.sys_id":"1f00ab008737c910793a97983cbb3544","user.first_name":"Lisa"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Link:
          - <https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,first_name,user.sys_id,user.first_name&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=0>;rel="first",<https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,first_name,user.sys_id,user.first_name&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=3>;rel="prev",<https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,first_name,user.sys_id,user.first_name&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=5>;rel="next",<https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,first_name,user.sys_id,user.first_name&sysparm_exclude_reference_link=true&sysparm_limit=1&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id&sysparm_offset=5>;rel="last"
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "6"
        X-Transaction-Id:
          - 5c56bc2decc5
      status: 200 OK
      code: 200
      duration: 74.898827ms
