---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_group?sysparm_fields=sys_id&sysparm_exclude_reference_link=true&sysparm_limit=10&sysparm_query=sys_id%3D0270c251c3200200be647bfaa2d3aea6%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"0270c251c3200200be647bfaa2d3aea6"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "1"
        X-Transaction-Id:
          - f856f4e112f1
      status: 200 OK
      code: 200
      duration: 66.873151ms
  - id: 1
    request:
      host: test-instance.service-now.com
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.service-now.com/api/now/v2/table/sys_user_grmember?sysparm_fields=sys_id,first_name,user.sys_id,user.first_name&sysparm_exclude_reference_link=true&sysparm_limit=10&sysparm_query=groupIN0270c251c3200200be647bfaa2d3aea6%5Euser.active%3Dtrue%5EORDERBYsys_id
      method: GET
    response:
        - chunked
      body: '{"result":[{"sys_id":"02ad2be0c3c782103e3f7fd9d0013189","user.sys_id":"b2459a268727d110b8137448dabb350a","user.first_name":"Damon"},{"sys_id":"0d5ba026c33992102177bc159901318d","user.sys_id":"53eae4e2c33992102177bc159901317f","user.first_name":"Joe"},{"sys_id":"42ad2be0c3c782103e3f7fd9d0013185","user.sys_id":"5b00ab008737c910793a97983cbb354a","user.first_name":"Alejandro"},{"sys_id":"5b5fffe4c38bc6102177bc1599013133","user.sys_id":"ab00ab008737c910793a97983cbb354d","user.first_name":"Linda"},{"sys_id":"719eeb24c3c782103e3f7fd9d0013156","user.sys_id":"1f00ab008737c910793a97983cbb3544","user.first_name":"Lisa"},{"sys_id":"8ead2be0c3c782103e3f7fd9d001318a","user.sys_id":"51104a4987e035d0793a97983cbb35c7","user.first_name":"Joe"}]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        X-Is-Logged-In:
          - "true"
        X-Total-Count:
          - "6"
        X-Transaction-Id:
          - f8563ca1a6f1
      status: 200 OK
      code: 200
      duration: 76.310808ms
