---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.atlassian.net
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.atlassian.net/rest/api/3/group/bulk?startAt=0&maxResults=1
      method: GET
    response:
      body: '{"maxResults":1,"startAt":0,"total":12,"isLast":false,"values":[{"name":"jira-software-user-access-admins-713b7785-bfe1-44f7-aaed-80dc5ec72616","groupId":"0f1c156b-a88b-4918-ba29-35eec8fed41c"}]}'
      headers:
        Atl-Traceid:
          - b91d5a0dde0c8dac
        Content-Type:
          - application/json;charset=UTF-8
        X-Aaccountid:
          - 712020%3Ac95ef8cc-fe03-43cc-8f50-c390bcb9499f
        X-Arequestid:
          - 0b3e3f4d73502518806e2527ed3c6178
      status: 200 OK
      code: 200
      duration: 283.338786ms
  - id: 1
    request:
      host: test-instance.atlassian.net
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.atlassian.net/rest/api/3/group/member?groupId=0f1c156b-a88b-4918-ba29-35eec8fed41c&startAt=0&maxResults=3
      method: GET
    response:
      body: '{"self":"https://test-instance.atlassian.net/rest/api/3/group/member?includeInactiveUsers=false&maxResults=3&groupId=0f1c156b-a88b-4918-ba29-35eec8fed41c&startAt=0","maxResults":3,"startAt":0,"total":1,"isLast":true,"values":[{"self":"https://test-instance.atlassian.net/rest/api/3/user?accountId=712020%3Ac95ef8cc-fe03-43cc-8f50-c390bcb9499f","accountId":"712020:c95ef8cc-fe03-43cc-8f50-c390bcb9499f","emailAddress":"nick@sgnl.ai","avatarUrls":{},"displayName":"Nick","active":true,"timeZone":"Etc/GMT","accountType":"atlassian"}]}'
      headers:
        Atl-Traceid:
          - 93175bc993ea67a8
        Content-Type:
          - application/json;charset=UTF-8
        X-Aaccountid:
          - 712020%3Ac95ef8cc-fe03-43cc-8f50-c390bcb9499f
        X-Arequestid:
          - 7d8223ea4f1a869f755a46d9eacf63f0
      status: 200 OK
      code: 200
      duration: 220.566289ms
