---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.atlassian.net
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.atlassian.net/rest/api/3/group/bulk?startAt=0&maxResults=3
      method: GET
    response:
      body: '{"maxResults":3,"startAt":0,"total":12,"isLast":false,"values":[{"name":"jira-software-user-access-admins-713b7785-bfe1-44f7-aaed-80dc5ec72616","groupId":"0f1c156b-a88b-4918-ba29-35eec8fed41c"},{"name":"atlassian-addons-admin","groupId":"114e2bfb-5281-4bae-8b5c-100999f0580d"},{"name":"jira-admins-713b7785-bfe1-44f7-aaed-80dc5ec72616","groupId":"3bbab507-d2c6-481c-918e-36722af115d3"}]}'
      headers:
        Atl-Traceid:
          - 802913844a118d3f
        Content-Type:
          - application/json;charset=UTF-8
        X-Aaccountid:
          - 712020%3Ac95ef8cc-fe03-43cc-8f50-c390bcb9499f
        X-Arequestid:
          - b63e335b13933b92a2387dc39f3794dc
      status: 200 OK
      code: 200
      duration: 381.208961ms
