---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.atlassian.net
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.atlassian.net/rest/api/3/search?startAt=0&maxResults=3
      method: GET
    response:
      body: '{"expand":"schema,names","startAt":0,"maxResults":3,"total":35,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,customfield_10010.requestTypePractice,renderedFields","id":"10002","self":"https://test-instance.atlassian.net/rest/api/3/issue/10002","key":"TES-3","fields":{"statuscategorychangedate":"2023-09-21T17:58:02.411+0000","issuetype":{"self":"https://test-instance.atlassian.net/rest/api/3/issuetype/10003","id":"10003","description":"Subtasks track small pieces of work that are part of a larger task.","iconUrl":"https://test-instance.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10316?size=medium","name":"Subtask","subtask":true,"avatarId":10316,"entityId":"b4f72eb4-7118-425c-bc5a-97111a7ee31a","hierarchyLevel":-1},"parent":{"id":"10000","key":"TES-1","self":"https://test-instance.atlassian.net/rest/api/3/issue/10000","fields":{"summary":"Test Issue","status":{"self":"https://test-instance.atlassian.net/rest/api/3/status/10000","description":"","iconUrl":"https://test-instance.atlassian.net/","name":"To Do","id":"10000","statusCategory":{"self":"https://test-instance.atlassian.net/rest/api/3/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"}},"priority":{"self":"https://test-instance.atlassian.net/rest/api/3/priority/3","iconUrl":"https://test-instance.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"},"issuetype":{"self":"https://test-instance.atlassian.net/rest/api/3/issuetype/10001","id":"10001","description":"Tasks track small, distinct pieces of work.","iconUrl":"https://test-instance.atlassian.net/rest/api/2/universal_avatar/view/type/issuetype/avatar/10318?size=medium","name":"Task","subtask":false,"avatarId":10318,"entityId":"1b30e92f-883b-421f-a4a7-9bd7499820ce","hierarchyLevel":0}}},"timespent":null,"customfield_10030":null,"customfield_10031":null,"project":{"self":"https://test-instance.atlassian.net/rest/api/3/project/10000","id":"10000","key":"TES","name":"Test1","projectTypeKey":"software","simplified":true,"avatarUrls":{}},"customfield_10032":null,"fixVersions":[],"aggregatetimespent":null,"resolution":null,"customfield_10036":null,"customfield_10037":null,"customfield_10027":null,"customfield_10028":null,"customfield_10029":null,"resolutiondate":null,"workratio":-1,"watches":{"self":"https://test-instance.atlassian.net/rest/api/3/issue/TES-3/watchers","watchCount":1,"isWatching":true},"lastViewed":null,"created":"2023-09-21T17:58:02.003+0000","customfield_10020":null,"customfield_10021":null,"customfield_10022":null,"customfield_10023":null,"priority":{"self":"https://test-instance.atlassian.net/rest/api/3/priority/3","iconUrl":"https://test-instance.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"},"customfield_10024":null,"customfield_10025":null,"customfield_10026":null,"labels":[],"customfield_10016":null,"customfield_10017":null,"customfield_10018":{"hasEpicLinkFieldDependency":false,"showField":false,"nonEditableReason":{"reason":"PLUGIN_LICENSE_ERROR","message":"The Parent Link is only available to Jira Premium users."}},"customfield_10019":"0|i0000f:","aggregatetimeoriginalestimate":null,"timeestimate":null,"versions":[],"issuelinks":[],"assignee":null,"updated":"2023-09-21T17:58:02.315+0000","status":{"self":"https://test-instance.atlassian.net/rest/api/3/status/10000","description":"","iconUrl":"https://test-instance.atlassian.net/","name":"To Do","id":"10000","statusCategory":{"self":"https://test-instance.atlassian.net/rest/api/3/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To Do"}},"components":[],"timeoriginalestimate":null,"description":null,"customfield_10010":null,"customfield_10014":null,"customfield_10015":null,"customfield_10005":null,"customfield_10049":[],"customfield_10006":null,"customfield_10007":null,"security":null,"customfield_10008":null,"aggregatetimeestimate":null,"customfield_10009":null,"summary":"Test Issue 3","creator":{"self":"https://test-instance.atlassian.net/rest/api/3/user?accountId=712020%3Ac95ef8cc-fe03-43cc-8f50-c390bcb9499f","accountId":"712020:c95ef8cc-fe03-43cc-8f50-c390bcb9499f","emailAddress":"nick@sgnl.ai","avatarUrls":{},"displayName":"Nick","active":true,"timeZone":"Etc/GMT","accountType":"atlassian"},"subtasks":[],"customfield_10040":null,"customfield_10041":null,"customfield_10042":null,"customfield_10043":null,"reporter":{"self":"https://test-instance.atlassian.net/rest/api/3/user?accountId=712020%3Ac95ef8cc-fe03-43cc-8f50-c390bcb9499f","accountId":"712020:c95ef8cc-fe03-43cc-8f50-c390bcb9499f","emailAddress":"nick@sgnl.ai","avatarUrls":{},"displayName":"Nick","active":true,"timeZone":"Etc/GMT","accountType":"atlassian"},"customfield_10044":null,"aggregateprogress":{"progress":0,"total":0},"customfield_10000":"{}","customfield_10001":null,"customfield_10045":null,"customfield_10002":null,"customfield_10046":null,"customfield_10003":null,"customfield_10004":null,"customfield_10048":null,"customfield_10038":[],"customfield_10039":null,"environment":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://test-instance.atlassian.net/rest/api/3/issue/TES-3/votes","votes":0,"hasVoted":false}}},{"expand":"operations,versionedRepresentations,editmeta,changelog,customfield_10010.requestTypePractice,renderedFields","id":"10001","self":"https://test-instance.atlassian.net/rest/api/3/issue/10001","key":"TES-2","fields":{"statuscategorychangedate":"2023-09-21T17:57:58.889+0000","issuetype":{"self":"https://test-instance.atlassian.net/rest/api/3/issuetype/10003","id":"10003","description":"Subtasks track small pieces of work that are part of a larger task.","iconUrl":"https://test-in[...]
