---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.atlassian.net
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.atlassian.net/rest/servicedeskapi/assets/workspace?startAt=0&maxResults=1
      method: GET
    response:
      body: '{"size":1,"start":0,"limit":50,"isLastPage":true,"_links":{"self":"https://test-instance.atlassian.net/rest/servicedeskapi/assets/workspace?startAt=0&maxResults=1","base":"https://test-instance.atlassian.net","context":""},"values":[{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7"}]}'
      headers:
        Atl-Traceid:
          - a33f4b9900a9d320
        Content-Type:
          - application/json;charset=UTF-8
        X-Aaccountid:
          - 712020%3Ac103e6bd-ff57-4edd-8925-b6672e9374f7
        X-Arequestid:
          - bcd1bbebb608ba4df3863c4b197118ae
      status: 200 OK
      code: 200
      duration: 210.891819ms
  - id: 1
    request:
      host: api.atlassian.com
      body: '{"qlQuery":"objectType = Customer"}'
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
        Content-Type:
          - application/json
      url: https://api.atlassian.com/jsm/assets/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/object/aql?includeAttributes=true&startAt=0&maxResults=3
      method: POST
    response:
      body: '{"startAt":0,"maxResults":3,"total":5,"values":[{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7","globalId":"10c19baf-1ce3-4558-ad80-47bc4494ded7:4","id":"4","label":"Customer 4","objectKey":"CUS-4","avatar":{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7","url16":"https://api.atlassian.com/jsm/insight/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/objecttype/5/icon.png?size=16","url48":"https://api.atlassian.com/jsm/insight/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/objecttype/5/icon.png?size=48","url72":"https://api.atlassian.com/jsm/insight/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/objecttype/5/icon.png?size=72","url144":"https://api.atlassian.com/jsm/insight/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/objecttype/5/icon.png?size=144","url288":"https://api.atlassian.com/jsm/insight/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/objecttype/5/icon.png?size=288","objectId":"4","mediaClientConfig":{"clientId":"b4b4a42e-d778-4930-8c00-dc4847271d78","issuer":"micros-group/jsm-cmdb","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"{{OMITTED}}","fileId":"c96be981-b0c2-41e7-a9f0-4c5f541da203","tokenLifespanInMinutes":60}},"objectType":{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7","globalId":"10c19baf-1ce3-4558-ad80-47bc4494ded7:5","id":"5","name":"Customer","type":0,"description":"","icon":{"id":"30","name":"Customer","url16":"https://api.atlassian.com/jsm/insight/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/objecttype/5/icon.png?size=16","url48":"https://api.atlassian.com/jsm/insight/workspace/10c19baf-1ce3-4558-ad80-47bc4494ded7/v1/objecttype/5/icon.png?size=48"},"position":3,"created":"2023-08-09T15:37:59.450Z","updated":"2023-08-09T15:37:59.450Z","objectCount":0,"objectSchemaId":"2","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2023-08-09T16:51:27.199Z","updated":"2023-08-09T16:51:27.199Z","hasAvatar":false,"timestamp":1691599887199,"attributes":[{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7","globalId":"10c19baf-1ce3-4558-ad80-47bc4494ded7:19","id":"19","objectTypeAttributeId":"37","objectAttributeValues":[{"value":"CUS-4","displayValue":"CUS-4","searchValue":"CUS-4","referencedType":false}],"objectId":"4"},{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7","globalId":"10c19baf-1ce3-4558-ad80-47bc4494ded7:22","id":"22","objectTypeAttributeId":"38","objectAttributeValues":[{"value":"Customer 4","displayValue":"Customer 4","searchValue":"Customer 4","referencedType":false}],"objectId":"4"},{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7","globalId":"10c19baf-1ce3-4558-ad80-47bc4494ded7:20","id":"20","objectTypeAttributeId":"39","objectAttributeValues":[{"value":"2023-0[...]
