---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.atlassian.net
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.atlassian.net/rest/api/3/users/search?startAt=0&maxResults=3
      method: GET
    response:
      body: '[{"self":"https://test-instance.atlassian.net/rest/api/3/user?accountId=712020:c95ef8cc-fe03-43cc-8f50-c390bcb9499f","accountId":"712020:c95ef8cc-fe03-43cc-8f50-c390bcb9499f","accountType":"atlassian","emailAddress":"nick@sgnl.ai","avatarUrls":{},"displayName":"Nick","active":true,"locale":"en_US"},{"self":"https://test-instance.atlassian.net/rest/api/3/user?accountId=557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","accountId":"557058:f58131cb-b67d-43c7-b30d-6b58d40bd077","accountType":"app","avatarUrls":{},"displayName":"Automation for Jira","active":true},{"self":"https://test-instance.atlassian.net/rest/api/3/user?accountId=5d53f3cbc6b9320d9ea5bdc2","accountId":"5d53f3cbc6b9320d9ea5bdc2","accountType":"app","avatarUrls":{},"displayName":"Jira Outlook","active":true}]'
      headers:
        Atl-Traceid:
          - 91e0b52edbe03a8a
        Content-Type:
          - application/json;charset=UTF-8
        X-Aaccountid:
          - 712020%3Ac95ef8cc-fe03-43cc-8f50-c390bcb9499f
        X-Arequestid:
          - d7bb08a67bee65a6cc0851353f952951
      status: 200 OK
      code: 200
      duration: 349.637545ms
