---
version: 2
interactions:
  - id: 0
    request:
      host: test-instance.atlassian.net
      body: ""
      form: {}
      headers:
        Authorization:
          - Basic {{OMITTED}}
      url: https://test-instance.atlassian.net/rest/servicedeskapi/assets/workspace?startAt=0&maxResults=3
      method: GET
    response:
      body: '{"size":1,"start":0,"limit":50,"isLastPage":true,"_links":{"self":"https://test-instance.atlassian.net/rest/servicedeskapi/assets/workspace?startAt=0&maxResults=3","base":"https://test-instance.atlassian.net","context":""},"values":[{"workspaceId":"10c19baf-1ce3-4558-ad80-47bc4494ded7"}]}'
      headers:
        Atl-Traceid:
          - a6512aa78faa74e0
        Content-Type:
          - application/json;charset=UTF-8
        X-Aaccountid:
          - 712020%3Ac103e6bd-ff57-4edd-8925-b6672e9374f7
        X-Arequestid:
          - e5cf83a82d3860143adfbe7d8c7c070e
      status: 200 OK
      code: 200
      duration: 285.653592ms
