name: golangci-lint

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: false

      - uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: "v2.3.1"
          args: --timeout 5m --verbose
